@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section seo {
    <title>工作台_C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
}
@section head {}
<div id="content" style="background:url(/Themes/default/base/images/develop.png) no-repeat white;position:absolute; width:100%; ">    
  <h1 style="margin: 200px;text-align: center;color: white;">这里是工作台。功能正在添加中...</h1>
</div>    