
@{
  
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>组织架构_系统设置_teaCRM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> 

    <!-- 组织架构需要导入的js、css -->
    <link href="/Themes/default/css/setting.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/default/js/ligerui/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <!--没有母版需要加上jquery-->
    <script src="/Themes/default/min/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="/Themes/default/js/ligerui/lib/ligerUI/js/core/base.js" type="text/javascript"></script> 
    <script src="/Themes/default/js/ligerui/lib/ligerUI/js/plugins/ligerTree.js" type="text/javascript"></script>
    <script src="/Themes/default/js/ligerui/lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
    <script src="/Themes/default/js/settings/department.js" type="text/javascript"></script>

</head>
<body>
    <!-- 查看部门开始 -->
     <table border="0" align="center" cellpadding="0" cellspacing="0" id="nobgmian" style="overflow: visible;">
                <tbody>
                    <tr>
                        <td width="31" valign="top" class="linkico">&nbsp;</td>
                        <td valign="top">
                            <div class="boxTitle" style="min-height: 460px;">
                                <div style="display: block;">
                                    <h2>
                                          部门职责说明书</h2>
                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                        <tbody>
                                            <tr>
                                                <td width="68" height="30" class="tit">基本信息</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
				
                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                        <tbody>
                                            <tr>
                                                <td width="12%">部门名称：</td>
                                                <td width="41%" style="color: #8a8888;">常州分公司</td>
                                                <td>
                                                    <span>薪资标准：</span><span style="color: #8a8888;">44</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>部门定员：</td>
                                                <td style="color: #8a8888;">23</td>
                                                <td><span>部门分析修改日期：</span><span style="color: #8a8888;"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                        <tbody>
                                            <tr>
                                                <td width="109" height="30" class="tit">工作目标与职责</td>
                                                <td width="471">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                        <tbody>
                                            <tr>
                                                <td><span>工作目标：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;"></span> <br>
                                                    <br>
                                                    <span>工作职责与任务：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                        <tbody>
                                            <tr>
                                                <td width="167" height="30" class="tit">部门应掌握的技能和课程</td>
                                                <td width="413">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                        <tbody>
                                            <tr>
                                                <td><span>必备技能：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;"></span><br>
                                                    <br>
                                                    <span>相关培训课程：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 查看部门结束 -->
                        </td>
                    </tr>
                </tbody>
            </table>
</body>
</html>