@using System.Web.Optimization
@using teaCRM.Common
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seo {
    <title>组织架构_系统设置_C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
}

@section head {
    @Styles.Render("~/Themes/default/css/cp.globle.min3.css")
@Scripts.Render("~/Themes/default/js/cp.globle.min3.js")




    

    <!--本页面css,js-->
    <link href="/Themes/default/settings/css/department.css" rel="stylesheet" type="text/css" />
    <script src="/Themes/default/settings/js/department.js" type="text/javascript"></script>
}

<div>
    <!--左侧部门开始-->
    <div class="layout-left">
        <div id="nav-side" class="nav-side">
            <div class="ns-item">
                <div class="c_left">
                    <ul id="22">
                        <li id="221" onclick=""><span><b class=""></b></span>
                            <a class="oz0"  href="javascript:void(0);" onclick=" add(); ">添加</a></li>
                        <li id="33">
                            <span><b class=""></b></span>
                            <a class="oz0"  href="javascript:void(0);" onclick=" del(); ">删除</a>
                        </li>
                    </ul>
                </div>
                <!--树形展示开始-->
                <ul id="department_tree" class="ztree"></ul>
                <!--树形展示结束-->
                <!--树形右键菜单开始-->
                <div id="rMenu">
                    <ul>
                        <li id="m_add" onclick=" add(); ">增加部门</li>
                        <li id="m_edit" onclick=" edit(); ">修改部门</li>
                        <li id="m_del" onclick=" del(); ">删除部门</li>
                        @*<li id="m_check" onclick="check_tree(true);">Check节点</li>
                <li id="m_unCheck" onclick="check_tree(false);">unCheck节点</li>
                <li id="m_reset" onclick="reset_tree();">恢复zTree</li>*@
                    </ul>
                </div>
                <!--树形右键菜单结束-->
            </div> 
            
        </div>
     
    </div>
    <!--左侧部门结束-->
    <!-- 查看部门开始 -->
    <div class="layout-right">
        <div class="layout-content">
            <table border="0" align="center" cellpadding="0" cellspacing="0" id="nobgmian" style="overflow: visible;">
                <tbody>
                    <tr>
                        <td width="31" valign="top" class="linkico">&nbsp;</td>
                        <td valign="top">
                            <div class="boxTitle" style="min-height: 460px;">
                                <div style="display: block;">
                                    <h2>
                                        部门职责说明书
                                    </h2>
                                    <!--表单开始-->
                                    <form id="form_department">
                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                            <tbody>
                                                <tr>
                                                    <td width="68" height="30" class="tit">基本信息</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span>部门名称：</span><span style="color: #8a8888;"><label id="DepName" name="DepName"></label></span>
                                                    </td>
                                                    <td>
                                                        <span>上级分类：</span><span style="color: #8a8888;">
                                                                              <label id="ParentName" name="ParentName"></label>
                                                                          </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>部门人数：</span><span style="color: #8a8888;">
                                                                              <label id="DepNum" name="DepNum"></label>
                                                                          </span>
                                                    </td>
                                                    <td>
                                                        <span>部门排序：</span><span style="color: #8a8888;">
                                                                              <label id="DepOrder" name="DepOrder"></label>
                                                                          </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>创建日期：</span><span style="color: #8a8888;">
                                                                              <label id="CreateDate" name="CreateDate"></label>
                                                                          </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                            <tbody>
                                                <tr>
                                                    <td width="109" height="30" class="tit">工作目标与职责</td>
                                                    <td width="471">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span>工作目标：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                                              <label id="DepGoal" name="DepGoal"></label>
                                                                          </span> <br />
                                                        <br />
                                                        <span>工作职责：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                                              <label id="DepRespon" name="DepRespon"></label>
                                                                          </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                            <tbody>
                                                <tr>
                                                    <td width="167" height="30" class="tit">部门应掌握的技能和课</td>
                                                    <td width="413">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span>必备技能：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                                              <label id="DepSkills" name="DepSkills"></label>
                                                                          </span><br />
                                                        <br />
                                                        <span>相关课程：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                                              <label id="DepCourse" name="DepCourse"></label>
                                                                          </span><br />
                                                        <br />
                                                        <span>备注：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                                            <label id="DepNote" name="DepNote"></label>
                                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <!--表单结束-->
                                </div>
                            </div>
                            <!-- 查看部门结束 -->
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<div id="progressBar" class="progressBar" style="">数据加载中，请稍等...</div>
@section script
{

}
