
@{
    Layout = null;
}


<form id="form_department">

    <table border="0" align="center" cellpadding="0" cellspacing="0" id="nobgmian" style="overflow: visible;">
        <tbody>
            <tr>
                <td width="31" valign="top" class="linkico">&nbsp;</td>
                <td valign="top">
                    <div class="boxTitle" style="min-height: 460px;">
                        <div style="display: block;">
                            <h2>
                                部门职责说明书
                                <button id="btn-save" class="btn btn-mini btn-primary hide" onclick="return save();">保存</button>
                                <input type="hidden" id="Id" name="Id" />
                                <button id="btn-edit" class="btn btn-mini btn-primary" onclick="return edit();">编辑</button>
                            </h2>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                <tbody>
                                    <tr>
                                        <td width="68" height="30" class="tit">基本信息</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>





                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                <tbody>
                                    <tr>
                                        <td width="12%">部门名称：</td>
                                        <td width="41%" style="color: #8a8888;">
                                            <input type="text" class="comm-tbox-1 required" id="DepName" name="DepName" value="" />
                                        </td>
                                        <td>
                                            <span>薪资标准：</span><span style="color: #8a8888;"><input type="text" id="" name="" /></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>部门定员：</td>
                                        <td style="color: #8a8888;"><input type="text" class="comm-tbox-1" id="DepNum" name="DepNum" value="" /></td>
                                        <td>
                                            <span>创建日期：</span><span style="color: #8a8888;">
                                                <input type="text" id="" name="" />
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                <tbody>
                                    <tr>
                                        <td width="109" height="30" class="tit">工作目标与职责</td>
                                        <td width="471">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>工作目标：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                <input type="text" id="" name="" />
                                            </span> <br />
                                            <br />
                                            <span>工作职责与任务：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                <input type="text" id="DepRespon" name="DepRespon" />
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="titbox">
                                <tbody>
                                    <tr>
                                        <td width="167" height="30" class="tit">部门应掌握的技能和课程</td>
                                        <td width="413">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableInfo">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>必备技能：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                <input type="text" id="DepSkills" name="DepSkills" />
                                            </span><br />
                                            <br />
                                            <span>相关培训课程：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;">
                                                <input type="text" id="" name="" />
                                            </span><br />
                                            <br />
                                            <span>备注：</span><span style="color: #8a8888; white-space: normal; word-break: break-all;"><input type="text" id="DepNote" name="DepNote" /></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                    <!-- 查看部门结束 -->
                </td>
            </tr>
        </tbody>
    </table>

</form>
