@using System.Web.Optimization
@using teaCRM.Common
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seo {
    <title>组织架构_系统设置_C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
}
@section head {
    
@Styles.Render("~/Themes/default/css/cp.globle.min8.css")
@Scripts.Render("~/Themes/default/js/cp.globle.min8.js")

<style type="text/css">
        @@charset "utf-8";

        body, div, dl, dt, dd, ul, ol, li, form, input, textarea, select, p, h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
        }

        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑", Tahoma, Arial, "宋体";
        }

        img {
            border: none;
        }

        ul, ol {
            list-style: none;
        }

        i, em {
            font-style: normal;
        }

        a, label, button {
            outline: none;
            hide-focus: expression(this.hideFocus=true);
        }

        a {
            color: #685dd6;
            text-decoration: none;
        }

        body {
            background: #ECEDF3;
        }

        .layout-left {
            display: inline;
            float: left;
            width: 190px;
            position: relative;
            z-index: 102;
            *zoom: 1;
            _height: 705px;
            background-color: #ebf0f7;
        }

        .layout-right {
            display: inline;
            float: right;
            width: 100%;
            margin-left: -190px;
            position: relative;
            z-index: 101;
            *zoom: 1;
            _height: 705px;
        }

        .layout-content {
            margin: 10px 10px 0 190px;
            position: relative;
            z-index: 102;
            *zoom: 1;
        }



        /**组织架构左侧及右侧详细页面部分----------------------------------------------------------------------------------------------**/

        .nav-side .ns-item {
            background: #f3f8fc;
            border-right: 1px solid #a4b8d9;
            *zoom: 1;
            min-height: 500px;
            padding: 0px 0px 10px 0px;
        }

        .ns-item .c_left {
            width: 100%;
            position: relative;
            zoom: 1;
            background: url(/Themes/default/CRM/images/c_left_btn.png) no-repeat;
            margin-bottom: 10px;
        }

            .ns-item .c_left ul {
                position: relative;
                height: 38px;
                z-index: 1;
            }

                .ns-item .c_left ul li {
                    width: 92px;
                    height: 38px;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 36px;
                    z-index: 1;
                    cursor: pointer;
                    display: inline-block;
                }

                    .ns-item .c_left ul li .oz0 {
                        margin-left: 30px;
                        text-shadow: white 0 1px 0;
                        color: #3C6692;
                    }

                    .ns-item .c_left ul li a:hover {
                        color: #000;
                    }
    </style>

    <script type="text/javascript">
    </script>
}

<div>
    <!--左侧开始-->
    <div class="layout-left">
        <div id="nav-side" class="nav-side">
            <div class="ns-item">
                <!--树形展示开始-->
                <ul id="department_tree" class="ztree"></ul>
                <!--树形展示结束-->
            </div>
        </div>
    </div>
    <!--左侧结束-->
    <!-- 右侧开始 -->
    <div class="layout-right">
        <div class="layout-content">
            ccc
        </div>
    </div>
    <!-- 右侧结束 -->
</div>
@section script{
    
}