@using System.Web.Optimization
@using teaCRM.Common
@using teaCRM.Entity
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seo {
    <title>组织架构_系统设置_C+企业云平台_打造中国办公软件第一品牌</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
}
@section head {
    
    @Styles.Render("~/Themes/default/css/cp.globle.min8.css")
    @Scripts.Render("~/Themes/default/js/cp.globle.min8.js")
    

    <style type="text/css">
        .layout-left {
            display: inline;
            float: left;
            width: 190px;
            position: relative;
            z-index: 102;
            *zoom: 1;
            _height: 705px;
            background-color: #ebf0f7;
        }

        .layout-right {
            display: inline;
            float: right;
            width: 100%;
            margin-left: -190px;
            position: relative;
            z-index: 101;
            *zoom: 1;
            _height: 705px;
        }

        .layout-content {
            margin: 10px 10px 0 190px;
            position: relative;
            z-index: 102;
            *zoom: 1;
        }



        /**左侧**/

        .nav-side .ns-item {
            background: #f3f8fc;
            border-right: 1px solid #a4b8d9;
            *zoom: 1;
         min-height:900px;
            padding: 0px 0px 10px 0px;
        }

        .ns-item .c_left {
            width: 100%;
            position: relative;
            zoom: 1;
            background: url(/Themes/default/CRM/images/c_left_btn.png) no-repeat;
            margin-bottom: 10px;
        }

        .ns-item .c_left ul {
            position: relative;
            height: 38px;
            z-index: 1;
        }

        .ns-item .c_left ul li {
            width: 92px;
            height: 38px;
            font-size: 15px;
            font-weight: 700;
            line-height: 36px;
            z-index: 1;
            cursor: pointer;
            display: inline-block;
        }

        .ns-item .c_left ul li .oz0 {
            margin-left: 30px;
            text-shadow: white 0 1px 0;
            color: #3C6692;
        }

        .ns-item .c_left ul li a:hover { color: #000; }
    </style>
    <script type="text/javascript">
    
    </script>
    <script src="/Themes/default/settings/js/user.js"></script>
}

<div>
    <!--左侧开始-->
    <div class="layout-left">
        <div id="nav-side" class="nav-side">
            <div class="ns-item">
                <!--树形展示开始-->
                <ul id="department_tree" class="ztree"></ul>
                <!--树形展示结束-->
            </div>
        </div>
    </div>
    <!--左侧结束-->
    <!-- 右侧开始 -->
    <div class="layout-right">
        <div class="layout-content">


            <div style="margin: 0px 20px;">
                <!--当前公司id-->
                <input type="hidden" id="CompNum" name="CompNum" value="@Session[teaCRMKeys.SESSION_USER_COMPANY_INFO_NUM]" />
                <table id="grid-data" class="table table-condensed table-hover table-striped table-bordered" data-selection="true" data-multi-select="true">
                    <thead>
                        <tr>
                              <th data-column-id="Id" data-type="numeric" data-identifier="true">ID</th>
                            <th data-column-id="UserLname" data-order="asc">登陆名称</th>
                            <th data-column-id="UserTname" data-order="desc">显示名称</th>
                            <th data-column-id="UserPhone" data-order="desc">手机</th>
                            <th data-column-id="UserEmail">邮箱</th>
                            <th data-column-id="UserTel"  >电话</th>
                            <th data-column-id="UserQq" >QQ</th>
                            <th data-column-id="DepId" >所属部门</th>
                            <th data-column-id="RoleId" >角色</th>
                            <th data-column-id="DataIds" >数据范围</th>
                            <th data-column-id="UserPosition" >职位</th>
                            <th data-column-id="UserJobstatus" >职位状态</th>
                            <th data-column-id="UserEnable" data-formatter="UserEnable">用户状态</th>
                            <th data-column-id="Id" data-formatter="commands">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>



        </div>
            

    </div>
    <!--右侧结束-->
</div>

@section script
{}