@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section seo {
    <title>工作台_优创CRM软件平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
}
@section head {}

<div id="content"  style="margin-top: 90px;">
    <br/>
    <h2>这里是工作台。</h2>
</div>