/* ==========================列表页样式.开始======================== */
.toolbar-wrap{min-height:38px; padding-top:3px; }
.toolbar{ left:15px; right:15px;background:#fff; z-index:2; padding-bottom:13px;}
	.toolbar:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.toolbar .l-list{ float:left; }
	.toolbar .l-list .icon-list{ margin-right:10px; }
	.toolbar .l-list .icon-list,.toolbar .l-list .icon-list li{ float:left; }
	.toolbar .l-list .icon-list li:first-child a{ border-left:solid 1px #dbdbdb; }
	.toolbar .l-list .icon-list li a{ display:inline-block; padding:5px 10px 5px 8px; line-height:20px; height:20px; border:solid 1px #e1e1e1; border-left:none; color:#333; font-size:12px; text-decoration:none; background:#fafafa; }
	.toolbar .l-list .icon-list li a:hover{ color:#2A72C5; }
	.toolbar .l-list .icon-list li a span{ display:inline-block; vertical-align:middle; }
	.toolbar .l-list .icon-list li a i{ display:inline-block; margin-right:3px; width:14px; height:14px; text-indent:-999em; background:url(../images/skin_icons.png) no-repeat; vertical-align:middle; *text-indent:0; /*display:block;*float:left;*margin-top:4px;*/ }
	
	.toolbar .l-list .icon-list li a.add i{ background-position:0 -28px; }
	.toolbar .l-list .icon-list li a.del i{ background-position:-84px -28px; }
	.toolbar .l-list .icon-list li a.chi i{ background-position:-112px -28px;}
	.toolbar .l-list .icon-list li a.zhuan i{ background-position:0px 0px;}
	.toolbar .l-list .icon-list li a.biao i{ background-position:-224px -112px;}
	.toolbar .l-list .icon-list li a.inport i{ background-position:0px -112px;}
	.toolbar .l-list .icon-list li a.import i{ background-position: -29px -112px;}
	.toolbar .l-list .icon-list li a.sms i{ background-position: 0px -110px;}
	.toolbar .l-list .icon-list li a.email i{ background-position: -447px -112px;}
	.toolbar .l-list .icon-list li a.hebing i{ background-position:-334px -112px;}
	.toolbar .l-list .icon-list li a.shuxing i{ background-position:-281px -112px; }
	.toolbar .l-list .icon-list li a.all i{ background-position:-56px -28px; }
	
	.toolbar .l-list .icon-list li a.list i{ background-position:-140px -28px; }
	.toolbar .l-list .menu-list{ float:left; }

	.toolbar .r-list{ float:right; }
	.toolbar .r-list .keyword{ display:block; float:left; margin:0; padding:0 5px; width:110px; height:30px; line-height:28px; font-size:12px; border:1px solid #dbdbdb; color:#444; }
	.toolbar .r-list .btn-search{ display:block; float:left; margin:0 0 0 -1px; padding:0; width:30px; height:30px; line-height:30px; border:1px solid #dbdbdb; background:url(../images/skin_icons.png) -160px -20px no-repeat #fafafa; cursor:pointer; text-indent:-9999px; }