@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section seo {
    <title>工作台_teaCRM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
}
@section head {}
<div id="plugin"   style="margin-top: 90px;background:url(/Themes/default/base/images/develop.png) no-repeat white;position:absolute; width:100%; height:100%;">   
   <h1 style="margin: 200px;text-align: center;color: white;">产品模块开发中正在开发中...</h1>
</div>