<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="teaCRMEntities" connectionString="metadata=res://*/teaCRMModel.csdl|res://*/teaCRMModel.ssdl|res://*/teaCRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=teaCRM;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>