/*头部*/


#header{background: #3083EB;position: relative;z-index: 3;}
.header {height:56px;min-width:800px;}
.header .logo {
background: url(/Themes/default/base/images/logo.jpg) no-repeat center;
float: left;
height: 27px;
margin: 14px 40px 0 20px;
overflow: hidden;
text-indent: 100%;
white-space: nowrap;
width: 140px;
}

/*导航菜单*/

.nav {
    display: block;
    float: left;
    height: 100%;
    margin: 0 auto;
}

.nav li {
    display: block;
    float: left;
    margin: 0;
    cursor: pointer;
    height:56px;
    vertical-align: middle;
}

.nav li a {
    text-decoration: none;
    color: #fcfcfc;
    line-height:56px;
    font-size: 18px;
    display: block;
    padding: 0px 25px;
    cursor: pointer;
}

.nav li:hover { background: #6199DB; }

.nav .selected { background: #0662d1; }

/*二级导航菜单*/

.nav2 {
    display: block;
    float: left;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.nav2 .selected {
    background: #fff;  
}
.nav2 .selected a {
    color: #000;
}

.nav-header2 {
    width: 100%;
    height: 24px;
    border-bottom: 1px #ddd solid;
    padding: 5px 0px;
    background-color: #0662D1;
}

.nav-header2 li {
    display: block;
    float: left;
    margin: 0 5px;
}

.nav-header2 li a {
    display: block;
    font-size: 14px;
    color: #e6e6e6;
    padding: 0 15px;
    line-height: 24px;
	font-family:微软雅黑;
}

.nav-header2 li a:hover {
    background: #fff;
    color: #000;
    padding: 0 15px;
    line-height: 24px;
}

/*隐藏*/

.hide { display: none; }

/*退出*/

/*140822 By 唐有炜*/

.exit {
    float: right;
    margin-top: 20px;
    font-size: 18px;
}

.exit a {
    color: white;
    cursor: pointer;
}

.exit a:hover { color: yellowgreen; }

/*气泡*/

/*140822 By 唐有炜*/

.tips {
    font-family: microsoft yahei;
    margin: 10px 10px -10px 10px;
}