ol, ul { list-style: none; }

a { text-decoration: none; }

body {
    padding: 0px;
    margin: 0px;
}

/*头部*/

.header {
    width: 100%;
    height: 60px;
    background: #1173ee;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1000px;
}

.logo {
    display: block;
    float: left;
    width: 180px;
    height: 60px;
    background: url(/Themes/default/base/images/logo.jpg) no-repeat center;
    overflow: hidden;
    margin: 0 auto;
}

/*导航菜单*/

.nav {
    display: block;
    float: left;
    height: 100%;
    margin: 0 auto;
}

.nav li {
    display: block;
    float: left;
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-family: "微软雅黑";
    height: 60px;
    vertical-align: middle;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    line-height: 60px;
    font-size: 18px;
    display: block;
    padding: 0px 25px;
    cursor: pointer;
}

.nav li:hover { background: #6199DB; }

.nav .selected { background: #0662d1; }

/*头像、隐藏内容*/

.nav-right { float: right; }

.nav-right .icon-option {
    position: relative;
    display: block;
    cursor: pointer;
    float: left;
    padding: 0 15px;
    height: 60px;
    width: 100px;
    border-left: 1px solid #0662d1;
    background: #1d74e0;
}

.nav-right .icon-option img {
    margin: 13px auto;
    vertical-align: middle;
    float: left;
    padding-left: 20px;
}

.nav-right .icon-option i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(/Themes/default/base/images/skin_icons.png) no-repeat;
    float: left;
    margin: 25px auto;
    margin-left: 15px;
}

/*.nav-right .icon-option:hover{ background:#6199DB; }*/

.nav-right .icon-option:hover .drop-box { display: block; }

.drop-box {
    display: none;
    position: absolute;
    top: 60px;
    right: 1px;
}

.drop-box .arrow {
    position: absolute;
    display: block;
    top: 0;
    right: 15px;
    width: 21px;
    height: 11px;
    text-indent: -999999px;
    background-color: #3333FF;
}

.drop-box .drop-item {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #b1b1b1;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.drop-box .drop-item li a {
    display: block;
    padding: 8px 15px;
    color: #222;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
}

.drop-box .drop-item li a:hover {
    color: #fff;
    text-decoration: none;
    background: #55afeb;
}

/*二级导航菜单*/

.nav2 {
    display: block;
    float: left;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.nav2 .selected {
    background: #0662d1;
    color: #fff;
}

.nav-header2 {
    width: 100%;
    height: 20px;
    border-bottom: 1px #ddd solid;
    position: absolute;
    top: 60px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f0f5fc;
}

.nav-header2 li {
    display: block;
    float: left;
    margin: 0 5px;
}

.nav-header2 li a {
    display: block;
    font-size: 12px;
    color: #999;
    padding: 0 15px;
    line-height: 20px;
}

.nav-header2 li a:hover {
    background: #0662d1;
    color: #fff;
    padding: 0 15px;
    line-height: 20px;
}

/*隐藏*/

.hide { display: none; }

/*退出*/

/*140822 By 唐有炜*/

.exit {
    float: right;
    margin-top: 20px;
    font-size: 18px;
}

.exit a {
    color: white;
    cursor: pointer;
}

.exit a:hover { color: yellowgreen; }

/*气泡*/

/*140822 By 唐有炜*/

.tips {
    font-family: microsoft yahei;
    margin: 10px 10px -10px 10px;
}