@using System.Web.Optimization
@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>企业登录_C+企业云平台_打造中国办公软件第一品牌</title>
        <meta name="keywords" content="免费CRM,优创CRM,客户管理系统">
        <meta name="description" content="免费CRM登录">
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        @Styles.Render("~/Themes/default/css/cp.globle.min7.css")
        @Scripts.Render("~/Themes/default/js/cp.globle.min7.js")

        <link href="/Themes/default/base/css/login.css" rel="stylesheet" type="text/css" />
    <!--获取ip地址-->
        <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> 
        <!--[if IE 6]>
            <style type='text/css'>
                .page .header .inner h1 { background: url(/Themes/default/base/images/ntes_logo.jpg) no-repeat; }
            </style>
        <![endif]-->
        <!--[if !IE]><!-->
        <script src="/Themes/default/lib/autoComplete/jquery.autocomplete.js" type="text/javascript"></script> 
        <!--<![endif]-->  
    
        <!--本页面js-->
        <script src="/Themes/default/base/js/account/login.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="page">
            <div class="header">
                <div class="inner">
                    <h1><a href="#" target="_blank">
                            <img src="/Themes/default/base/images/ntes_logo.jpg" title="" width="87" height="27"/></a></h1>
                    <p class="ext">
                        <a href="#" title="网站建设" target="_blank">网站建设</a> 
                        <a href="#" title="网络营销">网络营销</a> 
                        <a href="#" title="客户服务">客户服务</a> 
                        <a href="#">关于我们</a> 
                        <a href="#">手机版</a> 
                        <a href="#" title="">系统帮助</a></p>
                </div>
            </div>
			
            <div class="main" id="main" style="margin-top: 97.5px;">
                <div class="inner">
                    <h3 style="top: -50px;">迄今为止最本质的CRM</h3>
                    <div class="tab">
                        <div class="tab-list">
                            <ul>
                                <li class="item">
                                    <div class="logo">普通账号登录</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected" style="display: block;"></div>
                                </li>
                                <li class="item">
                                    <div class="logo">二维码登录</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected"></div>
                                </li>
                                <li class="item">
                                    <div class="logo">USB指令登录</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected"></div>
                                </li>
                                <li class="item">
                                    <div class="logo">指纹识别登录</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected"></div>
                                </li>
                            </ul>
                        </div>
							
                        <div class="tab-panel">
                            <div class="form">
                                <h2 class="hd" id="LoginTitle">登录客户管理系统</h2>
                                <a id="login-tips" href="javascript:void(0);" class="hide">请输入正确的用户名密码</a>
                                  
                                <form class="bd" name="frmLogin" method="post" id="loginForm" >
                                    <!-- 帐号 -->
                                    <div class="ipt-t user" id="idInputLine"> 
                                        <input type="text" id="userName" name="userName"  title="用户名" class="required">
                                    </div>
                                    <!-- 密码 -->
                                    <div class="ipt-t pass" id="pwdInputLine">
                                        <input type="password" name="userPassword"  title="密码" id="userPassword" class="required">
                                        <button  id="btnSubmit" title="登录" class="btn btn-login" type="submit"></button>
                                    </div>
                                    <!-- 相关选项功能-->
                                    <div class="options">
                                        <span><input id="remember" type="checkbox" checked value="记住账号"/>
                                            记住账号</span>
                                        <span><input type="checkbox" /> SSL安全登录</span>
                                        <a href="javascript:void(0);" title=""  style="">忘记密码?</a> 
                                    </div>
                                    <div class="ft"> 
                                        <span>移动版本：</span> 
                                        <a href="#">安卓版下载&nbsp;</a> 
                                        <a href="#">IOS版下载&nbsp;</a> 
                                    </div>
                                    <div class="ft-ext"> 
                                        <a href="/Account/PublicRegister/">注册免费试用</a></div>
                                </form>
                                <b class="ico-arr tab-panel-locat"></b>
                            </div>
                        </div>
						
                    </div>
                </div>
            </div>
            <!-- 推广 -->
            <div class="expansion">
                <div class="inner">
                    <ul>
                        <li><span>·</span> <a href="#" target="_blank">如何打造实用型C+企业云?</a></li>
                        <li><span>·</span> <a href="#" target="_blank">8月20号：CRM_beat版内测开始</a></li>
                        <li><span>·</span> <a href="#" target="_blank">9月23日：升级CRM中客户添加页面布局</a></li>
                        <li><span>·</span> <a href="#" target="_blank">8月20号：CRM_beat版内测开始</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <div class="inner">
                    <ul>
                        <li><a href="http://www.ucs123.com/content/about.html" target="_blank">关于优创</a></li>
                        <li><a href="http://www.ucs123.com/software/sjCRM.html" target="_blank">关于优创云CRM</a></li>
                        <li><a href="http://www.terwer.com/" target="_blank">CTO官方博客</a></li>
                        <li><a href="#">客户服务</a></li>
                        <li><a href="#">隐私政策</a></li>
                        <li><span class="sptln">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优创科技 版权所有  &copy;2013~@DateTime.Now.Year</li>
                    </ul>
                </div>
            </div>
            <!-- 背景 -->
            <div class="theme" id="theme"></div>
        </div>
    </body>
</html>