@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>企业登录_C+企业云平台_打造中国办公软件第一品牌</title>
        <meta name="keywords" content="免费CRM,优创CRM,客户管理系统">
        <meta name="description" content="免费CRM登录">
        <!--自适应设备-->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/Themes/default/base/css/login.mobile.css" rel="stylesheet" type="text/css" />
        <!--jquery-->
        <script src="/Themes/default/lib/jquery/jquery-1.7.1.min.js"></script>
        <!--cookie-->
        <script src="/Themes/default/lib/cookie/jquery.cookie.js" type="text/javascript"></script>
        <!--jquery mobile-->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
        <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
        <!--获取ip地址-->
        <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> 
        <script src="/Themes/default/lib/autoComplete/jquery.autocomplete.js" type="text/javascript"></script> 
        <!--artDialog-->
        <link rel="stylesheet" href="/Themes/default/lib/artDialog/css/ui-dialog.css">
        <script src="/Themes/default/lib/artDialog/dist/dialog-plus-min.js"></script>
        <!--公共函数-->
        <script src="/Themes/default/lib/function.js" type="text/javascript"></script>
      
        <!--表单验证，需要在字段上加上class="required"-->
        <script src="/Themes/default/lib/validate/jquery.validate.min.js" type="text/javascript"></script>
        <script src="/Themes/default/lib/validate/messages_cn.js" type="text/javascript"></script>
        <script src="/Themes/default/lib/validate/jquery.validate.extend.js" type="text/javascript"></script>
      
        <!--本页面js-->
        <script src="/Themes/default/base/js/account/login.js" type="text/javascript"></script>
    </head>
    <body>
        <div data-role="page"><!-- /page -->
            <div data-role="header"><!-- /header -->
                <h1>C+企业云平台</h1>
            </div>

            <div data-role="content">
                <h3>迄今为止最本质的CRM</h3>   
          
                <div class="tab-panel">
                    <div class="form">
                        <h2 class="hd" id="LoginTitle">登录客户管理系统</h2>
                        <a id="login-tips" href="javascript:void(0);" class="hide">请输入正确的用户名密码</a>

                        <form class="bd" name="frmLogin" method="post" id="loginForm">
                            <!-- 帐号 -->
                            <div class="ipt-t user" id="idInputLine">
                                <input type="text" id="userName" name="userName" title="用户名" class="required" />
                            </div>
                            <!-- 密码 -->
                            <div class="ipt-t pass" id="pwdInputLine">
                                <input type="password" name="userPassword" title="密码" id="userPassword" class="required" />
                                <input type="button" id="btnSubmit" value="登录" class="btn btn-login" />
                            </div>
                            <!-- 相关选项功能-->
                           <div class="ft-ext">
                                <a href="/Account/PublicRegister/" target="_blank">注册免费试用</a>
                            </div>
                        </form>
                        <b class="ico-arr tab-panel-locat"></b>
                    </div>
                </div>

            </div><!-- /content -->

            <div data-role="footer">
                <ul>
                    <li><a href="http://www.ucs123.com/content/about.html" target="_blank">关于优创</a></li>
                    <li><a href="http://www.ucs123.com/software/sjCRM.html" target="_blank">关于优创云CRM</a></li>
                    <li><a href="http://www.terwer.com/" target="_blank">CTO官方博客</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">隐私政策</a></li>
                    <li>Copyright &copy;2013~@DateTime.Now.Year <br/>
                        优创科技 版权所有 </li>
                </ul>
            </div>

        </div>
        

       
    </body>
</html>