@using System.Data
@model dynamic
@{
    //======================================================
    //var rootPath = "/Plugins/Customer";//发布之后改成这个
    var rootPath = "";//调试路径
    var cust= (DataRow)ViewBag.CustomerInfo;
    Layout = rootPath + "/Views/Shared/_Layout.cshtml";
}
@section seo{
    <title>客户信息查看</title>
}
@section head{
    <script type="text/javascript">
        var cust_id = '5ae1722c-1278-11e4-85fb-001e6797c409';
        var guest_id = '0';
        var from = '';
    </script>
    
    <script src="@rootPath/Themes/default/js/customer_view_new.js" type="text/javascript"></script>
    
    

    <style type="text/css">
        .tag
        {
            padding: 2px 5px;
            margin-right: 5px;
            color: white;
        }
        html
        {
            _overflow: hidden;
        }
        #all_main
        {
            _height: 392px;
            _margin: 0 15px 0 3px;
        }
    </style>
}
<body style="margin-top: 1px; position: relative;">
    <div id="body_skin">
        <div id="cus_main">
            <div class="cus_head" id="cus_header">
                <ul>
                    <li class="first focus" id="tab1" onclick="SwapTab(7,1);"><span>客户基本信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img style="padding: 0 0 0 12px" onclick="goup('5ae1722c-1278-11e4-85fb-001e6797c409',10097878,0)"
                            align="absmiddle" src="http://jt.53kf.com/img/icon-bd-done.png" class="icon">
                    </span></li>
                    <li id="tab4" onclick="SwapTab(7,4);"><span>联系记录<img onclick="contact_next_add_ref()"
                        align="absmiddle" src="http://jt.53kf.com/img/icon-add.png" title="点击添联系记录" class="icon"></span>
                    </li>
                    <li id="tab2" onclick="SwapTab(7,2);"><span>实时轨迹</span> </li>
                    <li id="tab3" onclick="SwapTab(7,3);"><span>聊天记录</span> </li>
                    <li id="tab5" onclick="SwapTab(7,5);"><span>订单记录<img onclick="order_add()" align="absmiddle"
                        src="http://jt.53kf.com/img/icon-add.png" title="点击添订单记录" class="icon"></span>
                    </li>
                    <li id="tab6" onclick="SwapTab(7,6);"><span>充值记录</span> </li>
                    <li id="tab7" onclick="SwapTab(7,7);"><span>优惠券记录</span> </li>
                </ul>
            </div>
            <div id="all_main">
                <div class="cus_body fix" id="oDIV1">
                    <div id="customer_info" class="info_all">
                        <!-- 客户信息显示部分 -->
                        @cust["cus_name"],@cust["cus_no"]
                    </div>
                </div>
                <div class="cus_path fix" id="oDIV2" style="display: none;">
                    <div id="track_list_tb" class="path_all">
                        <!-- 实时轨迹显示部分 -->
                    </div>
                </div>
                <div class="chat_record fix" id="oDIV3" style="display: none;">
                    <div class="chat_all">
                        <div class="filter-bar-bds">
                            <form id="msg_search">
                            <div class="term">
                                <b>时间：</b>
                                <input id="msg_start_time" class="Wdate" type="text" style="width: 115px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                                    name="search[start]">
                                -
                                <input id="msg_end_time" class="Wdate" type="text" style="width: 115px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                                    name="search[end]">
                                <b class="content">内容：</b>
                                <input id="msg_content" class="comm-tbox-1" type="text" name="search[content]" maxlength="45"
                                    size="30" />
                                <a href="javascript:void(0);" class="btn-blue-1" onclick="msg_search()"><b>查询</b>
                                </a>
                            </div>
                            </form>
                        </div>
                        <div id="msg_list_tb">
                            <!-- 聊天记录显示部分 -->
                        </div>
                    </div>
                </div>
                <div class="contact_record fix" id="oDIV4" style="display: none;">
                    <div class="contact_all">
                        <div class="contact_head">
                            <div class="contact_bar">
                                <form method="post" id="contact_search">
                                <div class="rows">
                                    <b class="lab">执行人：</b>
                                    <select id="job_53kf1" class="select_job" name="search[job]">
                                        <option value="">--请选择--</option>
                                        <option value="53cfc5bdffb5013987a30000" workers='[]'>└ 总经理</option>
                                        <option value="53cfc5bdffb5013987a40000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;└ 副总经理</option>
                                        <option value="53cfc5bdffb5013987a50000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            财务主管</option>
                                        <option value="53cfc5bdffb5013987a60000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            财务</option>
                                        <option value="53cfc5bdffb5013987a70000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            出纳</option>
                                        <option value="53cfc5bdffb5013987a80000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            行政主管</option>
                                        <option value="53cfc5bdffb5013987a90000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            行政专员</option>
                                        <option value="53cfc5bdffb5013987aa0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            销售主管</option>
                                        <option value="53cfc5bdffb5013987ab0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            销售专员</option>
                                        <option value="53cfc5bdffb5013987ac0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            客服主管</option>
                                        <option value="53cfc5bdffb5013987ad0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            客服专员</option>
                                        <option value="53cfc5bdffb5013987ae0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            产品主管</option>
                                        <option value="53cfc5bdffb5013987af0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            产品专员</option>
                                        <option value="53cfc5bdffb5013987b00000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            市场主管</option>
                                        <option value="53cfc5bdffb5013987b10000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            市场专员</option>
                                    </select>
                                    <select id="worker_53kf1" class="select_worker" name="search[worker]">
                                        <option value="">--请选择--</option>
                                        <option value="10097878"></option>
                                    </select>
                                    <b class="con_state">联系方式：</b>
                                    <select name="search[type]" class="" style="width: 110px">
                                        <option value="">---请选择---</option>
                                        <option value="call">随意拨</option>
                                        <option value="mobile">手机</option>
                                        <option value="phone">固话</option>
                                        <option value="sms">短信</option>
                                        <option value="email">邮箱</option>
                                        <option value="qq">QQ</option>
                                        <option value="msn">MSN</option>
                                        <option value="tel400">400电话</option>
                                        <option value="service">客服系统</option>
                                        <option value="other">其他</option>
                                    </select>
                                </div>
                                <div class="rows">
                                    <b class="lab">联系状态：</b>
                                    <select name="search[status]" class="" style="width: 110px">
                                        <option value="">---请选择---</option>
                                        <option value="wait">等待联系</option>
                                        <option value="end">联系完成</option>
                                    </select>
                                    <b class="descript">联系时间：</b>
                                    <input name="search[start]" id="contact_start_Wdate" class="Wdate" type="text" style="width: 90px;"
                                        onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="search[start]">
                                    -
                                    <input name="search[end]" id="contact_end_Wdate" class="Wdate" type="text" style="width: 90px;"
                                        onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="search[end]">
                                </div>
                                <div class="rows">
                                    <b class="lab">概述：</b>
                                    <input id="search_name" class="comm-tbox-1" type="text" name="search[title]">
                                    <a class="btn-blue-1" href="javascript:;" onclick="contact_search()"><b>查询</b> </a>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="contact_con">
                        <div class="contact_cons">
                            <table cellpadding="0" cellspacing="0" width="80%" class="tb-list-1">
                                <thead>
                                    <tr>
                                        <th>
                                            执行人
                                        </th>
                                        <th>
                                            概述
                                        </th>
                                        <th>
                                            联系方式
                                        </th>
                                        <th>
                                            联系状态
                                        </th>
                                        <th>
                                            联系时间
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="contact_list_tb">
                                    <tr style="display: none">
                                        <td colspan="6">
                                            没有此联系记录
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="order_record fix" id="oDIV5" style="display: none;">
                    <div class="order_all">
                        <div class="order_head">
                            <div class="order_bar">
                                <form method="post" id="order_search">
                                <div class="rows">
                                    <b class="lab">所有者：</b>
                                    <select name="search[job]" id="job_53kf2" class="select_job">
                                        <option value="">--请选择--</option>
                                        <option value="53cfc5bdffb5013987a30000" workers='[]'>└ 总经理</option>
                                        <option value="53cfc5bdffb5013987a40000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;└ 副总经理</option>
                                        <option value="53cfc5bdffb5013987a50000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            财务主管</option>
                                        <option value="53cfc5bdffb5013987a60000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            财务</option>
                                        <option value="53cfc5bdffb5013987a70000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            出纳</option>
                                        <option value="53cfc5bdffb5013987a80000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            行政主管</option>
                                        <option value="53cfc5bdffb5013987a90000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            行政专员</option>
                                        <option value="53cfc5bdffb5013987aa0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            销售主管</option>
                                        <option value="53cfc5bdffb5013987ab0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            销售专员</option>
                                        <option value="53cfc5bdffb5013987ac0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            客服主管</option>
                                        <option value="53cfc5bdffb5013987ad0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            客服专员</option>
                                        <option value="53cfc5bdffb5013987ae0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            产品主管</option>
                                        <option value="53cfc5bdffb5013987af0000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            产品专员</option>
                                        <option value="53cfc5bdffb5013987b00000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            市场主管</option>
                                        <option value="53cfc5bdffb5013987b10000" workers='[]'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
                                            市场专员</option>
                                    </select>
                                    <select name="search[worker]" id="worker_53kf2" class="select_worker">
                                        <option value="">--请选择--</option>
                                        <option value="10097878"></option>
                                    </select>
                                    <b class="descript">成交金额：</b>
                                    <input name="search[turnover_min]" id="turnover_min" class="comm-tbox" type="text"
                                        style="width: 40px;">
                                    -
                                    <input name="search[turnover_max]" id="turnover_max" class="comm-tbox" type="text"
                                        style="width: 40px;">元
                                </div>
                                <div class="rows">
                                    <b class="lab">成交时间：</b>
                                    <input name="search[start]" id="order_start_Wdate" class="Wdate" type="text" style="width: 90px;"
                                        onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                    -
                                    <input name="search[end]" id="order_end_Wdate" class="Wdate" type="text" style="width: 90px;"
                                        onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                    <b class="con_state">主题：</b>
                                    <input id="search_name" class="comm-tbox-1" type="text" name="search[order_title]">
                                    <a class="btn-blue-1" href="javascript:;" onclick="order_search()"><b>查询</b> </a>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="order_data">
                            <table class="tb-list-1" cellspacing="0">
                                <thead>
                                    <th>
                                        所有者
                                    </th>
                                    <th>
                                        主题
                                    </th>
                                    <th>
                                        成交金额
                                    </th>
                                    <th>
                                        成交时间
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </thead>
                                <tbody id="order_list_tb">
                                    <tr style="display: none">
                                        <td colspan="5">
                                            没有此订单记录
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="recharge_record fix" id="oDIV6" style="display: none;">
                    <div class="recharge_all">
                        <div class="recharge_head">
                            <div class="recharge_bar">
                                <form method="post" id="recharge_search">
                                <div class="rows">
                                    <b class="lab">充值金额：</b>
                                    <input name="search[recharge_min]" id="recharge_min" class="comm-tbox" type="text"
                                        style="width: 40px;">
                                    -
                                    <input name="search[recharge_max]" id="recharge_max" class="comm-tbox" type="text"
                                        style="width: 40px;">元 <b class="descript">充值时间：</b>
                                    <input name="search[recharge_start_date]" id="recharge_start_date" class="Wdate"
                                        type="text" style="width: 90px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                    -
                                    <input name="search[recharge_end_date]" id="recharge_end_date" class="Wdate" type="text"
                                        style="width: 90px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"></div>
                                <div class="rows">
                                    <b class="lab">充值方式：</b>
                                    <select name="search[recharge_type]" id="recharge_type" class="select_job">
                                        <option value="">--请选择--</option>
                                        <option value="在线充值">在线充值</option>
                                        <option value="官方充值">官方充值</option>
                                        <option value="渠道商充值">渠道商充值</option>
                                        <option value="非区域渠道商充值">非区域渠道商充值</option>
                                        <option value="银行转账">银行转账</option>
                                    </select>
                                    <b class="descript">充值银行：</b>
                                    <select name="search[recharge_bank]" id="recharge_bank" class="select_job">
                                        <option value="">--请选择--</option>
                                        <option value="快钱">快钱</option>
                                        <option value="财付通">财付通</option>
                                        <option value="工商银行">工商银行</option>
                                        <option value="农业银行">农业银行</option>
                                        <option value="个人建银">个人建银</option>
                                        <option value="支付宝">支付宝</option>
                                        <option value="招商银行">招商银行</option>
                                        <option value="交通银行">交通银行</option>
                                        <option value="中国银行">中国银行</option>
                                        <option value="邮政储蓄">邮政储蓄</option>
                                        <option value="公司建行 ">公司建行 </option>
                                        <option value="其他银行">其他银行</option>
                                    </select>
                                    <a class="btn-blue-1" href="javascript:;" onclick="recharge_search()"><b>查询</b>
                                    </a>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="recharge_count">
                            <span class="count">充值总金额:0.00 </span>元
                        </div>
                        <div class="recharge_data">
                            <table class="tb-list-1" cellspacing="0">
                                <thead>
                                    <th>
                                        充值编号
                                    </th>
                                    <th>
                                        充值金额
                                    </th>
                                    <th>
                                        充值时间
                                    </th>
                                    <th>
                                        充值方式
                                    </th>
                                    <th>
                                        支付银行
                                    </th>
                                </thead>
                                <tbody id="recharge_list_tb">
                                    <tr style="display: none">
                                        <td colspan="5">
                                            没有此充值记录
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="order_record fix" id="oDIV7" style="display: none;">
                    <div class="order_all">
                        <div class="order_head">
                            <div class="order_bar">
                                <form method="post" id="coupon_search">
                                <div class="rows">
                                    <b class="lab">优惠券金额：</b>
                                    <input name="search[coupon_min]" id="coupon_min" class="comm-tbox" type="text" style="width: 40px;">
                                    -
                                    <input name="search[coupon_max]" id="coupon_max" class="comm-tbox" type="text" style="width: 40px;">元
                                    <b class="descript">创建时间：</b>
                                    <input name="search[coupon_start_date]" id="coupon_start_date" class="Wdate" type="text"
                                        style="width: 90px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                    -
                                    <input name="search[coupon_end_date]" id="coupon_end_date" class="Wdate" type="text"
                                        style="width: 90px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                </div>
                                <div class="rows">
                                    <b class="lab">优惠券状态：</b>
                                    <select name="search[coupon_status]" id="coupon_status" class="select_job">
                                        <option value="">--请选择--</option>
                                        <option value="give">发放</option>
                                        <option value="cost">使用</option>
                                    </select>
                                    <a class="btn-blue-1" href="javascript:;" onclick="coupon_search()"><b>查询</b> </a>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="recharge_count">
                            <span class="count">发送总金额:0.00元 ;</span> <span class="count">未使用余额:0.00元</span>
                        </div>
                        <div class="coupon_data">
                            <table class="tb-list-1" cellspacing="0">
                                <thead>
                                    <th>
                                        优惠券编号
                                    </th>
                                    <th>
                                        创建时间
                                    </th>
                                    <th>
                                        发放
                                    </th>
                                    <th>
                                        使用
                                    </th>
                                    <th>
                                        优惠券余额
                                    </th>
                                </thead>
                                <tbody id="coupon_list_tb">
                                    <tr style="display: none">
                                        <td colspan="5">
                                            没有此优惠劵记录
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 0px; clear: both;">
            </div>
        </div>
    </div>
    <div id="loading" class="l-loading">
        加载中...</div>
</body>

<script type="text/javascript">
    SwapTab(7, 1); //此函数必须放到底部
    //查看客户信息高度自适应 ，防止js加载失败调用
    $(function() {
        $(window).on('load resize', adaptive);
    });
</script>
