@model dynamic

@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <script src="/Themes/default/lib/jquery/jquery-1.7.1.min.js"></script>
        <link href="/Themes/default/base/css/globle.css" rel="stylesheet" />
        <link href="/Themes/default/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="/Themes/default/lib/bootstrap/js/bootstrap.js"></script>
        <style type="text/css">
            
            
            
            
        </style>

        <script type="text/javascript">



        </script>
    </head>
    <body>
        <div class="tab-content">

            <dl>
                <dt>
                    <em class="imp">*</em>角色名称：
                </dt>
                <dd>
                    <input type="text" class="wid515 required" id="role_name" name="role_name" placeholder="输入角色名称" />
                </dd>
            </dl>
            <dl>
                <dt>
                    <em class="imp">*</em>角色类型：
                </dt>
                <dd>
                    <div class="controls">
                        <select id="select01">
                            <option>--请选择--</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>
                    <em class="imp">*</em>显示顺序：
                </dt>
                <dd>
                    <input type="text" class="wid515 required" id="role_name" name="role_name"  value="0" placeholder="输入角色名称" />
                </dd>
            </dl>
            <dl>
                <dt>
                    <em class="imp">*</em>角色描述：
                </dt>
                <dd>
                    <textarea class="wid515" id="cus_note" name="cus_note" cols="50" rows="2"></textarea>
                </dd>
            </dl>

          
        </div>
    </body>
</html>