@using System.Web.Optimization
@using teaCRM.Entity
@{
    //联系人扩展字段信息
    var customerExpandFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>回收站_C+企业云平台_打造中国办公软件第一品牌</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        @Styles.Render("~/Themes/default/css/cp.globle.min6.css")
        @Scripts.Render("~/Themes/default/js/cp.globle.min6.js")
       
       
        <!--js区域-->
        <script src="/Themes/default/crm/js/trash.js" type="text/javascript"></script>
        <!--js区域-->

    </head>
    <body>
     
        <table id="trash-grid-data" class="table table-condensed table-hover table-striped table-bordered" data-selection="true" data-multi-select="true">
            <thead>
                <tr>
                    @foreach (var customerExpandField in customerExpandFields)
                    {
                        <th data-column-id="@customerExpandField.ExpName" data-header-align="center" data-align="center"  data-order="desc">@customerExpandField.ExpTitle</th>
                    }
                    <th data-column-id="id" data-type="numeric" data-identifier="true" data-formatter="commands" data-sortable="false">操作</th>
                  
                </tr>
            </thead>
        </table>
     
    </body>
</html>