@model dynamic

@{
   Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>日志查看_C+企业云平台_打造中国办公软件第一品牌</title>
        <script src="/Themes/default/lib/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>  
    <!--artDialog-->
     <link rel="stylesheet" href="/Themes/default/lib/artDialog/css/ui-dialog.css">
    <script src="/Themes/default/lib/artDialog/dist/dialog-plus-min.js"></script>
    <!--公共函数-->
    <script src="/Themes/default/lib/function.js" type="text/javascript"></script>
        <script type="text/javascript">
            function delete_log(view_url) {
                showDialog("确认删除该日志文件吗？",function() {
                    //alert(view_url + "删除成功！");
                    var url = "/Admin/LogDelete/";
                    $.post(url, { filename: view_url }, function (data, status) {
                        if (status == "success" && data == "True") {
                            showMsg(view_url + "删除成功！", function () {
                                location.href = "/Admin/LogView/";
                            });
                        } else {
                            showMsg(view_url + "删除失败！");
                        }

                    });
                });
            }
        </script>
    </head>
    <body>
        <div>
            <h1>管理员日志查看</h1>
            @foreach (var f in (FileInfo[]) ViewBag.FileInfo)
            {
                var view_url = "/Log/" + f.Name;
                var file_view_url = "file:///"+Server.MapPath("/Log/" + f.Name);
                <div>
                    <a href="@view_url" target="_blank"> @f.Name</a>
                    &nbsp;文件方式路径: @file_view_url
                    &nbsp; <input type="button" onclick=" delete_log('@f.Name'); "  value="删除" />
                </div>
            }  
        </div>
    </body>
</html>