@using UCsoft.Web
@{
    //客户扩展字段信息
    var customerFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;
    //联系人扩展字段信息
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seo {
    <title>客户_优创C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
}
@section head{

    <!--客户模块布局及左侧css-->
    <link href="/Themes/default/CRM/css/crm.layout.css" rel="stylesheet" type="text/css" />
    <!--客户列表css-->
    <link href="/Themes/default/CRM/css/crm.list.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/default/lib/ligerUI/skins/Tea/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerLayout.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerForm.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerCheckBox.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerDateEditor.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerRadio.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerTextBox.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerSpinner.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerTree.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerTip.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerToolBar.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/ligerUI/js/plugins/ligerMenu.js" type="text/javascript"></script>
    <!--CRM js函数封装-->
    <script type="text/javascript" src="/Themes/default/CRM/js/TYW.js"></script>
    <!--客户js，由于动态读取，必须放在页面上-->
    <script type="text/javascript">
        //客户列表==============================================================
        //====================================================================
        //全局变量
        var manager;
        var manager1;

        function InitDataGrid() {
            initLayout();
            $(window).resize(function() {
                initLayout();
            });
            $("#maingrid4").ligerGrid({
                checkbox: true,
                columns: [
                    {
                        display: '选择',
                        width: 50,
                        render: function(rowData, rowindex, value, column, rowid, page, pagesize) {
                            return (page - 1) * pagesize + rowindex + 1;
                        }
                    },
                    {
                        display: '客户名称',
                        "frozen": true,
                        name: 'cus_name',
                        width: 200,
                        align: 'left'
                        //                ,render: function(item) {
                        //                    var html = "<div class='abc'>";
                        //                    if (item.cus_sname)
                        //                        html += item.Customer;
                        //                    html += "</div>";
                        //                    return html;
                        //                }
                    },
                    {
                        display: '助记简称',
                        name: 'cus_sname',
                        width: 60,
                        align: 'left'
                    },
                    {
                        display: '上级客户',
                        name: 'cus_lastname',
                        width: 120,
                        align: 'center',
                        render: function(item) {
                            if (item.cus_lastid == 0) {
                                return "暂无上级客户";
                            } else {
                                return "暂无上级客户";
                            }
                        }
                    },
                    { display: '电话', name: 'cus_tel', width: 120, align: 'right' },
                    { display: '省市地址', name: 'cus_city', width: 80 },
                    { display: '详细地址', name: 'cus_address', width: 80 },
                    { display: '主联系人', name: 'con_name', width: 60 },
                    { display: '负责人', name: 'user_name', width: 70 },
                    { display: '共享成员', name: 'con_team', width: 80, align: 'center' },
                    /* { display: '是否公海', name: 'con_is_pub', width: 60, render: function (item) {
                        if (item.con_is_pub == 0) {
                            return "否";
                        } else {
                            return "是";
                        }
                    } 
                    },
                    { display: '是否回收站', name: 'con_back', width: 60, render: function (item) {
                        if (item.con_back == 0) {
                            return "否";
                        } else {
                            return "是";
                        }
                    } 
                    },
                    */
                    /* {
                display: '最后跟进',
                name: 'lastfollow',
                width: 90,
                render: function(item) {
                var lastfollow = formatTimebytype(item.lastfollow, 'yyyy-MM-dd');
                if (lastfollow == "1900-01-01")
                lastfollow = "";
                return lastfollow;
                }
                },*/

                    @*这里显示扩展字段*@
                    @foreach (var customerField in customerFields)
                    {
                        var culmonString = String.Format(" {{ display: '{0}', name: '{1}', width: 60 }},", customerField.ExpTitle, customerField.ExpName);
                        @Html.Raw(culmonString)
                        ;
                    }

                    { display: '备注', name: 'cus_note', width: 60 },
                    {
                        display: '创建时间',
                        name: 'cus_createTime',
                        width: 90
                        //                ,render: function(item) {
                        //                    var cus_createTime = formatTimebytype(item.cus_createTime, 'yyyy-MM-dd');
                        //                    return cus_createTime;
                        //                }
                    }
                ],
                onBeforeShowData: function(grid, data) {
                    startTime = new Date();
                },

                //fixedCellHeight:false,
                onSelectRow: function(data, rowindex, rowobj) {
                    var manager = $("#maingrid5").ligerGetGridManager();
                    manager.showData({ Rows: [], Total: 0 });
                    //var url = "../../data/CRM_Follow.ashx?Action=grid&customer_id=" + data.id;
                    var url = "/Apps/CRM/LoadData/GetFollowList/?Action=grid&CustomerNo=cc4ff7e8-86ea-43e8-a618-786f6718ac44";
                    manager.GetDataByURL(url);
                },
                rowtype: "CustomerType",
                dataAction: 'server',
                pageSize: 10,
                pageSizeOptions: [10, 30, 50, 100],
                url: "/Apps/CRM/LoadData/GetCustomerLsit/?rnd=" + Math.random(),
                method: "post",
                width: '100%',
                height: '70%',
                heightDiff: -1,
                onRClickToSelect: true,
                onContextmenu: function(parm, e) {
                    actionCustomerID = parm.data.id;
                    menu.show({ top: e.pageY, left: e.pageX });
                    return false;
                },
                onAfterShowData: function(grid) {
                    $("tr[rowtype='已成交']").addClass("l-treeleve1").removeClass("l-grid-row-alt");
                    var nowTime = new Date();
                    //showMsg('加载数据耗时：' + (nowTime - startTime));
                },
                onDblClickRow: function(data, rowindex, rowobj) {
                    view();
                },
                detail: {
                    onShowDetail: function(r, p) {
                        for (var n in r) {
                            if (r[n] == null) r[n] = "";
                        }
                        var grid = document.createElement('div');
                        $(p).append(grid);
                        $(grid).css('margin', 3).ligerGrid({
                            columns: [
                                { display: '行号', width: 50, render: function(item, i) { return i + 1; } },
                                { display: '联系人', name: 'con_name', width: 100 },
                                { display: '电话/手机号码', name: 'con_tel', width: 100 },
                                { display: 'QQ号', name: 'con_qq', width: 100 },
                                { display: '邮箱', name: 'con_email', width: 80 },
                                { display: '生日', name: 'con_bir', width: 80 },
                                @*这里显示扩展字段*@
                                @foreach (var contactField in contactFields)
                                {
                                    var culmonString = String.Format(" {{ display: '{0}', name: '{1}', width: 60 }},", contactField.ExpTitle, contactField.ExpName);
                                    @Html.Raw(culmonString)
                                    ;
                                }
                                { display: '备注', name: 'con_note', width: 80 },
                                {
                                    display: '是否主联系人',
                                    name: 'con_is_main',
                                    width: 80,
                                    render: function(item) {
                                        if (item.con_is_main == 0) {
                                            return "否";
                                        } else {
                                            return "是";
                                        }
                                    }
                                },
                                { display: '录入人', name: 'user_id', width: 80 }
                            ],

                            usePager: false,
                            checkbox: false,
                            url: "/Apps/CRM/LoadData/GetContactList/?cus_id=" + r.id,
                            width: '1022px',
                            height: '100px',
                            heightDiff: 0
                        });
                    }
                }
            });
            $("#maingrid5").ligerGrid({
                columns: [
                    { display: '序号', width: 40, render: function(item, i) { return i + 1; } },
                    {
                        display: '跟进内容',
                        name: 'Follow',
                        align: 'left',
                        width: 590,
                        render: function(item) {
                            var html = "<div class='abc'>";
                            if (item.Follow)
                                html += item.Follow;
                            html += "</div>";
                            return html;
                        }
                    },
                    {
                        display: '跟进时间',
                        name: 'Follow_date',
                        width: 140,
                        render: function(item) {
                            return formatTimebytype(item.Follow_date, 'yyyy-MM-dd hh:mm');
                        }
                    },
                    { display: '跟进方式', name: 'Follow_Type', width: 60 },
                    {
                        display: '跟进人',
                        name: '',
                        width: 100,
                        render: function(item) {
                            return item.department_name + "." + item.employee_name;
                        }
                    }
                ],
                onAfterShowData: function(grid) {

                },

                dataAction: 'server',
                pageSize: 30,
                pageSizeOptions: [20, 30, 50, 100],
                //checkbox:true,
                url: "/Apps/CRM/LoadData/GetFollowList/?Action=grid&CustomerNo=",
                width: '100%',
                height: '100%',
                //title: "跟进信息",
                heightDiff: -1,
                onRClickToSelect: true,
                onContextmenu: function(parm, e) {
                    actionCustomerID = parm.data.id;
                    menu1.show({ top: e.pageY, left: e.pageX });
                    return false;
                }
            });

            $("#grid").height(document.documentElement.clientHeight - 172);

            $('form').ligerForm();
            initSerchForm();
            toolbar();
            //toolbar1();

        }

        var view_auth = false;

        function toolbar() {
            $.get("/Apps/CRM/LoadData/GetCustomerMenu/?Action=GetSys&mid=4&rnd=" + Math.random(), function(reault, textStatus) {
                //alert(reault);
                var data = eval("(" + reault + ")");
                var items = [];
                var arr = data.Items;
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].text == '查看' && arr[i].disable) view_auth = true;
                    arr[i].icon = "../../" + arr[i].icon;
                    items.push(arr[i]);
                }
                items.push({
                    type: 'serchbtn',
                    text: '高级搜索',
                    icon: '../../images/search.gif',
                    disable: true,
                    click: function() {
                        serchpanel();
                    }
                });
                $("#toolbar").ligerToolBar({
                    items: items

                });
                menu = $.ligerMenu({
                    width: 120,
                    items: getMenuItems(data)
                });

            });
            $.get("/Apps/CRM/LoadData/GetFollowMenu/?Action=GetSys&mid=6&rnd=" + Math.random(), function(reault, textStatus) {
                //alert(reault);
                //return;
                var data = eval("(" + reault + ")");
                var items = [];
                var arr = data.Items;
                for (var i = 0; i < arr.length; i++) {
                    arr[i].icon = "../../" + arr[i].icon;
                    items.push(arr[i]);
                }
                $("#toolbar1").ligerToolBar({
                    items: items

                });
                menu1 = $.ligerMenu({
                    width: 120,
                    items: getMenuItems(data)
                });

                $("#maingrid4").ligerGetGridManager().onResize();
                $("#maingrid5").ligerGetGridManager().onResize();
            });
        }

        function initSerchForm() {
            var a = $('#T_City').ligerComboBox({ width: 96 });
            var b = $('#T_Provinces').ligerComboBox({
                width: 97,
                url: "../../data/Param_City.ashx?Action=combo1&rnd=" + Math.random(),
                onSelected: function(newvalue) {
                    $.get("../../data/Param_City.ashx?Action=combo2&pid=" + newvalue + "&rnd=" + Math.random(), function(data, textStatus) {
                        a.setData(eval(data));
                    });
                }
            });
            var c = $('#customertype').ligerComboBox({ width: 97, url: "../../data/Param_SysParam.ashx?Action=combo&parentid=1&rnd=" + Math.random() });
            var d = $('#customerlevel').ligerComboBox({ width: 96, url: "../../data/Param_SysParam.ashx?Action=combo&parentid=2&rnd=" + Math.random() });

            var d = $('#industry').ligerComboBox({ width: 120, url: "../../data/Param_SysParam.ashx?Action=combo&parentid=8&rnd=" + Math.random() });
            var e = $('#employee').ligerComboBox({ width: 96 });
            var f = $('#department').ligerComboBox({
                width: 97,
                selectBoxWidth: 240,
                selectBoxHeight: 200,
                valueField: 'id',
                textField: 'text',
                treeLeafOnly: false,
                tree: {
                    url: '../../data/hr_department.ashx?Action=tree&rnd=' + Math.random(),
                    idFieldName: 'id',
                    parentIDFieldName: 'pid',
                    checkbox: false
                },
                onSelected: function(newvalue) {
                    $.get("../../data/hr_employee.ashx?Action=combo&did=" + newvalue + "&rnd=" + Math.random(), function(data, textStatus) {
                        e.setData(eval(data));
                    });
                }
            });
        }

        function serchpanel() {
            if ($(".az").css("display") == "none") {
                $("#grid").css("margin-top", $(".az").height() + "px");
                $("#maingrid4").ligerGetGridManager().onResize();
                $("#maingrid5").ligerGetGridManager().onResize();
            } else {
                $("#grid").css("margin-top", "0px");
                $("#maingrid4").ligerGetGridManager().onResize();
                $("#maingrid5").ligerGetGridManager().onResize();
            }
        }

        $(document).keydown(function(e) {
            if (e.keyCode == 13) {
                doserch();
            }
        });

        function doserch() {
            var sendtxt = "&Action=grid&rnd=" + Math.random();
            var serchtxt = $("#serchform :input").fieldSerialize() + sendtxt;
            //alert(serchtxt);           
            var manager = $("#maingrid4").ligerGetGridManager();

            manager.setURL("../../data/crm_customer.ashx?" + serchtxt);
            manager.loadData(true);
        }

        function doclear() {
            //var serchtxt = $("#serchform :input").reset();
            $("#serchform").each(function() {
                this.reset();
                $(".l-selected").removeClass("l-selected");
            });
        }

        var activeDialog = null;

        function f_openWindow(url, title, width, height) {
            var dialogOptions = {
                width: width,
                height: height,
                title: title,
                url: url,
                buttons: [
                    {
                        text: '保存',
                        onclick: function(item, dialog) {
                            f_save(item, dialog);
                        }
                    },
                    {
                        text: '关闭',
                        onclick: function(item, dialog) {
                            dialog.close();
                        }
                    }
                ],
                isResize: true,
                timeParmName: 'a'
            };
            activeDialog = parent.jQuery.ligerDialog.open(dialogOptions);
        }

        //查看客户信息
        function view() {
            //    if (view_auth) {
            //        var manager = $("#maingrid4").ligerGetGridManager();
            //        var row = manager.getSelectedRow();
            //        if (row) {
            //            parent.jQuery.ligerDialog.open({ width: 770, height: 490, title: "客户详情", url: "CRM/Customer/Customer_info.aspx?cid=" + row.id, buttons: [{ text: '关闭', onclick: function(item, dialog) { dialog.close(); } }] });
            //        } else {
            //            $.ligerDialog.warn('请选择行！');
            //        }
            //    } else {
            //        $.ligerDialog.warn('权限不够！');
            //    }

            showWindow("show_add", "/Apps/CRM/Index/Show/", "查看客户", 800, 480);
        }

        //添加客户
        function add() {
            showWindow("show_add", "/Apps/CRM/Index/Add/", "新增客户", 670, 480);
        }

        function edit() {
            var manager = $("#maingrid4").ligerGetGridManager();
            var row = manager.getSelectedRow();
            if (row) {
                f_openWindow('CRM/Customer/Customer_add.aspx?cid=' + row.id, "修改客户", 770, 490);
            } else {
                $.ligerDialog.warn('请选择行！');
            }
        }

        function del() {
            var manager = $("#maingrid4").ligerGetGridManager();
            var row = manager.getSelectedRow();
            if (row) {
                $.ligerDialog.confirm("确定删除？", function(yes) {
                    if (yes) {
                        $.ajax({
                            url: "../../data/CRM_Customer.ashx",
                            type: "POST",
                            data: { Action: "AdvanceDelete", id: row.id, rnd: Math.random() },
                            success: function(responseText) {
                                if (responseText == "true") {
                                    f_reload();
                                    f_followreload();
                                } else if (responseText == "delfalse") {
                                    top.$.ligerDialog.error('权限不够，删除失败！');
                                } else if (responseText == "false") {
                                    top.$.ligerDialog.error('未知错误，删除失败！');
                                } else {
                                    top.$.ligerDialog.warn('此客户下含有 ' + responseText + '，删除失败！请先先将这些数据放入回收站。');
                                }

                            },
                            error: function() {
                                top.$.ligerDialog.error('删除失败！');
                            }
                        });
                    }
                });
            } else {
                $.ligerDialog.warn("请选择客户");
            }
        }


        function f_save(item, dialog) {
            var issave = dialog.frame.f_save();
            if (issave) {
                dialog.close();
                top.$.ligerDialog.waitting('数据保存中,请稍候...');
                $.ajax({
                    url: "../../data/CRM_Customer.ashx",
                    type: "POST",
                    data: issave,
                    success: function(responseText) {
                        top.$.ligerDialog.closeWaitting();
                        f_reload();
                    },
                    error: function() {
                        top.$.ligerDialog.closeWaitting();
                        top.$.ligerDialog.error('操作失败！');
                    }
                });

            }
        }

        function f_reload() {
            var manager = $("#maingrid4").ligerGetGridManager();
            manager.loadData(true);
        };

        //follow
        function follow_openWindow(url, title, width, height) {
            var dialogOptions = {
                width: width,
                height: height,
                title: title,
                url: url,
                buttons: [
                    {
                        text: '保存',
                        onclick: function(item, dialog) {
                            f_savefollow(item, dialog);
                        }
                    },
                    {
                        text: '关闭',
                        onclick: function(item, dialog) {
                            dialog.close();
                        }
                    }
                ],
                isResize: true,
                timeParmName: 'b'
            };
            activeDialog1 = top.jQuery.ligerDialog.open(dialogOptions);
        }

        function addfollow() {
            var manager = $("#maingrid4").ligerGetGridManager();
            var row = manager.getSelectedRow();
            if (row) {
                follow_openWindow("CRM/Customer/Customer_follow_add.aspx?cid=" + row.id, "新增跟进", 530, 400);
            } else {
                $.ligerDialog.warn('请选择客户！');
            }
        }

        function editfollow() {
            var manager = $("#maingrid5").ligerGetGridManager();
            var row = manager.getSelectedRow();
            if (row) {
                follow_openWindow('CRM/Customer/Customer_follow_add.aspx?fid=' + row.id + "&cid=" + row.Customer_id, "修改跟进", 530, 400);
            } else {
                $.ligerDialog.warn('请选择跟进！');
            }
        }

        function delfollow() {
            var manager = $("#maingrid5").ligerGetGridManager();
            var row = manager.getSelectedRow();
            if (row) {
                $.ligerDialog.confirm("确定删除？", function(yes) {
                    if (yes) {
                        $.ajax({
                            url: "../../data/CRM_Follow.ashx",
                            type: "POST",
                            data: { Action: "AdvanceDelete", id: row.id, rnd: Math.random() },
                            success: function(responseText) {
                                if (responseText == "true") {
                                    f_followreload();
                                    f_reload();
                                } else {
                                    top.$.ligerDialog.error('删除失败！');
                                }

                            },
                            error: function() {
                                top.$.ligerDialog.error('删除失败！');
                            }
                        });
                    }
                });
            } else {
                $.ligerDialog.warn("请选择跟进");
            }
        }

        function f_savefollow(item, dialog) {
            var issave = dialog.frame.f_save();
            if (issave) {
                dialog.close();
                $.ligerDialog.waitting('数据保存中,请稍候...');
                $.ajax({
                    url: "../../data/CRM_Follow.ashx",
                    type: "POST",
                    data: issave,
                    success: function(responseText) {
                        $.ligerDialog.closeWaitting();
                        f_followreload();
                        f_reload();
                    },
                    error: function() {
                        $.ligerDialog.closeWaitting();
                        $.ligerDialog.error('操作失败！');
                    }
                });

            }
        }

        function f_followreload() {
            var manager = $("#maingrid5").ligerGetGridManager();
            manager.loadData(true);
        };

        //=========================================================================

    </script>
    <!--本页面js-->
    <script src="/Themes/default/CRM/js/customer_index.js" type="text/javascript"></script>
}

<div id="customer"  style="margin-top: 90px;">
  
    <!--左侧筛选开始-->
    <div class="layout-left">
        <div id="nav-side" class="nav-side">
            <div class="ns-item">
                <div class="c_left">
                    <ul id="22">
                        <li id="221" onclick=" add(); "><span class="om0"><b class=""></b></span><a class="oz0">添加</a></li>
                        <li id="33"><span class="om0"><b class=""></b></span><a class="oz0">导入</a></li>
                    </ul>
                </div>
                <ul id="filter_tree" style="width: 100%;">
                </ul>
            </div>
        </div>
    </div>
    <!--左侧筛选结束-->
    <!--右侧列表开始-->
    <div class="layout-right">
        <div class="layout-content">
		
            <div class="toolbar-wrap">
                <div id="floatHead" class="toolbar">
                    <div class="l-list">
                        <ul class="icon-list">
                            <li><a class="add" href="javascript:void(0);" onclick=" add(); "><i></i><span>新增</span></a></li>
                            <li><a class="del" id="btnDelete" href="#"><i></i><span>删除</span></a></li>
                            <li><a class="chi" id="btnSave" href="#"><i></i><span>客户池</span></a></li>
                            <li><a class="zhuan" id="btnAudit" href="#"><i></i><span>转移</span></a></li>
                            <li><a class="biao" id="btnAudit" href="#"><i></i><span>标签</span></a></li>
                            <li><a class="inport" id="btnAudit" href="#"><i></i><span>导入</span></a></li>
                            <li><a class="import" id="btnAudit" href="#"><i></i><span>导出</span></a></li>
                            <li><a class="sms" id="btnAudit" href="#"><i></i><span>短信</span></a></li>
                            <li><a class="email" id="btnAudit" href="#"><i></i><span>邮件</span></a></li>
                            <li><a class="hebing" id="btnAudit" href="#"><i></i><span>合并</span></a></li>
                            <li><a class="shuxing" id="btnAudit" href="#"><i></i><span>属性</span></a></li>
                            <li><a class="all" href="#" onclick=" checkAll(this); "><i></i><span>全选</span></a></li>
                        </ul>
                    </div>
                    <div class="r-list">
                        <input name="txtKeywords" type="text" id="txtKeywords" class="keyword">
                        <a id="lbtnSearch" class="btn-search" href="javascript:__doPostBack('lbtnSearch','')">查询</a>
                    </div>
                </div>
            </div>
		
		
        
            <!--客户列表开始-->
            <form id="form1">
                <div id="grid">
                    <div id="maingrid4" style="margin: -1px; min-width: 800px;"></div>
                    @*<div id="toolbar1"></div>*@
                    <div id="Div1" style="position: relative;">
                        <div id="maingrid5" style="margin: -1px -1px;"></div>
                    </div>
                </div>


            </form>
            <div class="az">
                <form id='serchform'>
                    <table style='width: 960px' class="bodytable1">
                        <tr>
                            <td>
                                <div style='width: 60px; text-align: right; float: right'>公司名称：</div>
                            </td>
                            <td>
                                <input type='text' id='company' name='company' ltype='text' ligerui='{width:120}' /></td>

                            <td>
                                <div style='width: 60px; text-align: right; float: right'>客户类型：</div>
                            </td>
                            <td>
                                <div style='width: 100px; float: left'>
                                    <input type='text' id='customertype' name='customertype' />
                                </div>
                                <div style='width: 98px; float: left'>
                                    <input type='text' id='customerlevel' name='customerlevel' />
                                </div>
                            </td>
                            <td>
                                <div style='width: 60px; text-align: right; float: right'>录入时间：</div>
                            </td>
                            <td>
                                <div style='width: 100px; float: left'>
                                    <input type='text' id='startdate' name='startdate' ltype='date' ligerui='{width:97}' />
                                </div>
                                <div style='width: 98px; float: left'>
                                    <input type='text' id='enddate' name='enddate' ltype='date' ligerui='{width:96}' />
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div style='width: 60px; text-align: right; float: right'>所属行业：</div>
                            </td>
                            <td>
                                <input id='industry' name="industry" type='text' /></td>

                            <td>
                                <div style='width: 60px; text-align: right; float: right'>所属地区：</div>
                            </td>
                            <td>
                                <div style='width: 100px; float: left'>
                                    <input type='text' id='T_Provinces' name='T_Provinces' />
                                </div>
                                <div style='width: 98px; float: left'>
                                    <input type='text' id='T_City' name='T_City' />
                                </div>
                            </td>
                            <td>
                                <div style='width: 60px; text-align: right; float: right'>最后跟进：</div>
                            </td>
                            <td>
                                <div style='width: 100px; float: left'>
                                    <input type='text' id='startfollow' name='startfollow' ltype='date' ligerui='{width:97}' />
                                </div>
                                <div style='width: 98px; float: left'>
                                    <input type='text' id='endfollow' name='endfollow' ltype='date' ligerui='{width:96}' />
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div style='width: 60px; text-align: right; float: right'>电话：</div>
                            </td>
                            <td>
                                <input type='text' id='tel' name='tel' ltype='text' ligerui='{width:120}' />
                            </td>

                            <td>
                                <div style='width: 60px; text-align: right; float: right'>公司网址：</div>
                            </td>
                            <td>
                                <input id='website' name="website" type='text' ltype='text' ligerui='{width:196}' /></td>
                            <td>
                                <div style='width: 60px; text-align: right; float: right'>业务员：</div>
                            </td>
                            <td>
                                <div style='width: 100px; float: left'>
                                    <input type='text' id='department' name='department' />
                                </div>
                                <div style='width: 98px; float: left'>
                                    <input type='text' id='employee' name='employee' />
                                </div>
                            </td>
                            <td>

                                <input id='Button2' type='button' value='重置' style='width: 80px; height: 24px'
                                       onclick=" doclear() " />
                                <input id='Button1' type='button' value='搜索' style='width: 80px; height: 24px' onclick=" doserch() " />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!--客户列表结束-- 调整样式注释于0825晚 黄栾-->
            @*            <div class="body-tips">
                <div class="body-tips-bd">
                    <h3>帮助：</h3>
                    <p>1. 此栏目通过岗位层级展示相应数据，如部门主管可查看部门全部客户、组长可查看小组全部客户；</p>
                    <p>2. 转移客户：可将潜在客户转回客户池或转交给其他工号跟进；</p>
                    <p>3. 时间轴：通过时间轴可查看单个客户完整的跟踪过程以及购买周期。</p>
                </div>
            </div>*@
                  
        </div>
    </div>
    <!--右侧列表结束-->
    <div class="clear" style="clear: both;"></div>
</div>