@using teaCRM.Common
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <title>角色权限_系统设置_teaCRM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  
}

<div id="settings"  style="margin-top: 90px;">
这里是角色权限。
</div>