@using System.Web.Optimization
@using teaCRM.Entity
@{
    //客户扩展字段信息
    var customerFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;
    //联系人扩展字段信息
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>我的人脉_C+企业云平台_打造中国办公软件第一品牌</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        @Styles.Render("~/Themes/default/css/cp.globle.min6.css")
        @Scripts.Render("~/Themes/default/js/cp.globle.min6.js")
       
    </head>
    <body>
        <!--客户id-->
        <input type="hidden" id="cus_id" name="cus_id" value="@ViewBag.CustomerId" />
        <input type="hidden" id="CompNum" name="CompNum" value="@Session[teaCRMKeys.SESSION_USER_COMPANY_INFO_NUM]" />

        <table id="grid-data" class="table table-condensed table-hover table-striped table-bordered" data-selection="true" data-multi-select="true">
            <thead>
                <tr>
                    <th data-column-id="cus_id" data-header-align="center" data-align="center"  data-order="desc">所属客户</th>
                    <th data-column-id="con_name" data-header-align="center" data-align="center"  data-order="desc">联系人名称</th>
                    <th data-column-id="con_tel" data-header-align="center" data-align="center"  data-order="desc">联系人电话</th>
                    <th data-column-id="con_qq" data-header-align="center" data-align="center"  data-order="desc">联系人QQ</th>
                    <th data-column-id="con_email" data-header-align="center" data-align="center"  data-order="desc">联系人邮箱</th>
                    <th data-column-id="con_is_main" data-formatter="con_is_main" data-header-align="center" data-align="center"  data-order="desc">是否主联系人</th>
                    <th data-column-id="id" data-type="numeric" data-identifier="true" data-formatter="commands" data-sortable="false">操作</th>
                </tr>
            </thead>
        </table>
        <!--js区域-->
        <script src="/Themes/default/crm/js/contact.js" type="text/javascript"></script>
           <!--js区域-->
    </body>
</html>