@charset "utf-8";
/* ==========================快捷标签按钮部分======================== */
.toolbar-wrap{ margin:15px 0px;}
.toolbar{}
	.toolbar:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.toolbar .l-list{ float:left; }
	.toolbar .l-list .icon-list{ margin-right:10px;width: auto !important }
	.toolbar .l-list .icon-list,.toolbar .l-list .icon-list li{ float:left; }
	.toolbar .l-list .icon-list li:first-child a{ border-left:solid 1px #dbdbdb; }
	.toolbar .l-list .icon-list li a{ display:inline-block; padding:5px 15px 5px 13px; line-height:24px; height:24px; border:solid 1px #e1e1e1; border-left:none; color:#333; font-size:12px; text-decoration:none; background:#fafafa; }
	.toolbar .l-list .icon-list li a:hover{ color:#2A72C5; }
	.toolbar .l-list .icon-list li a span{ display:inline-block; vertical-align:middle; }
	.toolbar .l-list .icon-list li a i{ display:inline-block; margin-right:5px; width:14px; height:14px; text-indent:-999em; background:url(../images/skin_icons.png) no-repeat; vertical-align:middle; *text-indent:0; /*display:block;*float:left;*margin-top:4px;*/ }
	
	.toolbar .l-list .icon-list li a.add i{ background-position:0 -28px; }
	.toolbar .l-list .icon-list li a.del i{ background-position:-84px -28px; }
	.toolbar .l-list .icon-list li a.chi i{ background-position:-112px -28px;}
	.toolbar .l-list .icon-list li a.zhuan i{ background-position:0px 0px;}
	.toolbar .l-list .icon-list li a.biao i{ background-position:-224px -112px;}
	.toolbar .l-list .icon-list li a.inport i{ background-position:0px -112px;}
	.toolbar .l-list .icon-list li a.import i{ background-position: -29px -112px;}
	.toolbar .l-list .icon-list li a.sms i{ background-position: 0px -110px;}
	.toolbar .l-list .icon-list li a.email i{ background-position: -447px -112px;}
	.toolbar .l-list .icon-list li a.hebing i{ background-position:-334px -112px;}
	.toolbar .l-list .icon-list li a.shuxing i{ background-position:-281px -112px; }
	.toolbar .l-list .icon-list li a.all i{ background-position:-56px -28px; }
	
	.toolbar .l-list .icon-list li a.list i{ background-position:-140px -28px; }
	.toolbar .l-list .menu-list{ float:left; }


	
	
	
	
