
/*
YUI CSS Reset
*/

/*html { color: #000; background: #FFF; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, blockquote { margin: 0; padding: 0; }*/
/*table{border-collapse:collapse;border-spacing:0;}*/
fieldset, img { border: 0; vertical-align: middle; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption, th { text-align: left; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

legend { color: #000; }
del, ins { text-decoration: none; }
/* -------------
   * commom *
* ------------- font-family: "微软雅黑", "宋体", Arial, sans-serif;*/
body { font-size: 12px; }
.l-clear { clear: both; width: 1px; height: 1px; overflow: hidden; }
.l-hidden { display: none; }
.l-loading { position: absolute; z-index: 91000; top: 40%; left: 50%; overflow: hidden; background: url('../images/common/loading.gif') no-repeat 0px 0px; width: 24px; height: 24px; display: none; }
#pageloading { display: block; position: absolute; left: 0px; top: 0px; filter:alpha(opacity=20);opacity:0.20; background: #fff url('../images/common/indicator_waitanim.gif') no-repeat center; width: 100%; height: 100%; /*min-height: 400px;*/ z-index: 99999; }

/* -------------
   * 滚动条颜色 *
* ------------- */

.l-scroll { /*scrollbar-face-color: #DBEBFE; scrollbar-shadow-color: #B8D6FA; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #DBEBFE; scrollbar-darkshadow-color:#458CE4; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #458CE4*/ /*scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #D2E5F4; scrollbar-highlight-color: #D2E5F4; scrollbar-3dlight-color: #FFFFFF; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #D2E5F4*/ /*scrollbar-face-color: #9EBFE8; scrollbar-shadow-color: #FFFFFF; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #9EBFE8; scrollbar-darkshadow-color: #9EBFE8; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #FFFFFF*/ }
.l-noscroll { overflow: hidden; }


/* Resizable */
.l-resizable { display: none; overflow: hidden; border-style: dashed; border-width: 1px; opacity: 0.5; filter: alpha(opacity=50); position: absolute; top: 0; left: 0; z-index: 101; background: #f2f1f1; }
.l-resizable-h-l { cursor: nw-resize; top: 0; left: 0; z-index: 103; }
.l-resizable-h-r { cursor: ne-resize; top: 0; right: 0; z-index: 103; }
.l-resizable-h-c { width: 100%; cursor: n-resize; top: 0; left: 0; z-index: 102; }
.l-resizable-c-l { cursor: w-resize; top: 0; left: 0; z-index: 102; }
.l-resizable-c-r { cursor: e-resize; top: 0; right: 0; z-index: 102; }
.l-resizable-f-l { cursor: sw-resize; bottom: 0; left: 0; z-index: 103; }
.l-resizable-f-r { cursor: se-resize; bottom: 0; right: 0; z-index: 103; }
.l-resizable-f-c { width: 100%; cursor: s-resize; bottom: 0; left: 0; z-index: 102; }
.l-resizable-h-l, .l-resizable-h-r, .l-resizable-h-c, .l-resizable-c-l, .l-resizable-c-r, .l-resizable-f-l, .l-resizable-f-r, .l-resizable-f-c { display: block; overflow: hidden; width: 6px; height: 6px; position: absolute; }

/* --------------
   *   icon  *
* ------------ */
.l-icon-checkbox { background: url('../images/icon/checkbox.gif') no-repeat center; }

/* -------------
   * 按钮 *
* ------------- */
.l-button { display: block; border: solid 1px #A3C0E8; width: 50px; height: 20px; overflow: hidden; line-height: 20px; background: #E0EDFF url(../images/controls/button-bg.gif) repeat-x center; text-align: center; color: #2C4D79; text-decoration: none; cursor: pointer; }
    .l-button-over, .l-button:hover { background: #FFBE76 url(../images/controls/button-bg-over.gif) repeat-x center; border-color: #D6A886; }
.l-btn { display: block; height: 24px; overflow: hidden; line-height: 24px; position: relative; background: url(../images/box/box-btn.gif) repeat-x; text-align: center; color: #2C4D79; text-decoration: none; cursor: pointer; }
/* 按钮左边部位 */
.l-btn-l { position: absolute; width: 4px; left: 0px; top: 0px; height: 24px; background: #E0EDFF url(../images/box/box-btn-l.gif) no-repeat; }
/* 按钮右边部位 */
.l-btn-r { position: absolute; width: 4px; right: 0px; top: 0px; height: 24px; background: #E0EDFF url(../images/box/box-btn-r.gif) no-repeat; }

.l-btn-over{background:url('../images/box/box-btn-over.gif') repeat-x;}
.l-btn-over .l-btn-l{background:url('../images/box/box-btn-l-over.gif') no-repeat;}
.l-btn-over .l-btn-r{background:url('../images/box/box-btn-r-over.gif') no-repeat;}

.l-btn-icon {position: absolute; left: 20px; top: 2px;  }
.l-btn-hasicon { padding-left: 20px; }


textarea { resize:none}
