/*html, body { width: 100%;height:100%;overflow: hidden; }*/
/* --------------
   *   layout  *
* ------------ */
.l-layout { position: relative; }
.l-layout-left, .l-layout-right, .l-layout-center, .l-layout-top, .l-layout-bottom { position: absolute; border: 1px solid #99bbe8; background: white; /*z-index: 10;*/ overflow: hidden; }
.l-layout-top { width: 100%; }
.l-layout-bottom { width: 100%; }

.l-layout-left .l-layout-header-toggle-backup { position: absolute; top: 3px; right: 3px; height: 20px; width: 20px; overflow: hidden; background: url('../images/layout/togglebar.gif'); background-position: -20px 0px; cursor: pointer; }
.l-layout-left .l-layout-header-toggle { position: absolute; background: url(../img/tool-sprites.gif) no-repeat scroll 0 0; cursor: pointer; float: right; height: 15px; margin-left: 2px; overflow: hidden; width: 15px; top: 3px; right: 3px; background-position: 0 -180px; }
.l-layout-left .l-layout-header-toggle-over { background-position: -15px -180px; }

.l-layout-right .l-layout-header-toggle { position: absolute; background: url(../img/tool-sprites.gif) no-repeat scroll 0 0; cursor: pointer; float: left; height: 15px; margin-left: 2px; overflow: hidden; width: 15px; top: 3px; left: 3px; background-position: 0 -165px; }
.l-layout-right .l-layout-header-toggle-over { background-position: -15px -165px; }

.l-layout-center .l-layout-header { cursor: default; }

.l-layout-header-backup { position: relative; padding-left: 10px; color: #183152; font-weight: bold; height: 25px; line-height: 24px; background: #E5EFFE url('../images/layout/layout-header.gif') repeat-x; overflow: hidden; cursor: pointer; }
.l-layout-header { background: transparent url(../img/white-top-bottom.gif) repeat-x scroll 0 -1px; border-bottom: 1px solid #99BBE8; color: #15428B; font-size: 12px; font-weight: bold; line-height: 15px; padding: 5px 3px 4px 5px; }

.l-layout-header-inner { padding-right: 22px; }
.l-layout-right .l-layout-header-inner { padding-left: 22px; padding-right: auto; }
.l-layout-header-over { background: #EFF4FE url('../images/layout/layout-header-over.gif') repeat-x; }

.l-layout-collapse-left, .l-layout-collapse-right-backup { width: 24px; background: #EAF2FE; border: 1px solid #B8D0D6; position: absolute; top: 0px; display: none; height: 100%; z-index: 10; }
.l-layout-collapse-left, .l-layout-collapse-right { position: absolute; background-color: #D2E0F2; border: 1px solid #98C0F4; width: 24px; display: none; float: left; margin-left: -2px; height: 100%; z-index: 10; }
.l-layout-collapse-left-over, .l-layout-collapse-right-over { background: #D2E0F2; }
.l-layout-collapse-left-toggle, .l-layout-collapse-right-toggle-backup { position: absolute; height: 20px; width: 20px; overflow: hidden; background: url('../images/layout/togglebar.gif'); cursor: pointer; }
.l-layout-collapse-left-toggle, .l-layout-collapse-right-toggle { background: url(../img/tool-sprites.gif) no-repeat scroll 0 0; cursor: pointer; float: right; height: 15px; overflow: hidden; width: 15px; margin-top: 5px; margin-left: 2px; margin-right: 2px; }
.l-layout-collapse-left { left: 2px; }
.l-layout-collapse-left-toggle { top: 0px; right: 2px; background-position: 0px -165px; }
.l-layout-collapse-left-toggle-over { background-position: -15px -165px; }

.l-layout-collapse-right { right: 2px; }
.l-layout-collapse-right-toggle { top: 0px; left: 3px; background-position: -0px -180px; }
.l-layout-collapse-right-toggle-over { background-position: -15px -180px; }



.l-layout-drophandle-left { position: absolute; width: 5px; cursor: col-resize; z-index: 10; display: none; }
.l-layout-drophandle-right { position: absolute; width: 5px; cursor: col-resize; z-index: 10; display: none; }
.l-layout-drophandle-top { position: absolute; height: 5px; cursor: row-resize; z-index: 10; display: none; line-height: 1px; overflow: hidden; }
.l-layout-drophandle-bottom { position: absolute; height: 5px; cursor: row-resize; z-index: 10; display: none; line-height: 1px; overflow: hidden; }
.l-layout-dragging-xline { background: #E0E4E2; height: 4px; position: absolute; display: none; z-index: 9999; padding: 0; margin: 0; line-height: 1px; overflow: hidden; }
.l-layout-dragging-yline { background: #E0E4E2; width: 4px; position: absolute; display: none; z-index: 9999; padding: 0; margin: 0; }
.l-layout-lock { position: absolute; width: 100%; height: 100%; display: none; z-index: 9990; margin: 0; padding: 0; }
.l-layout-content { position: relative; background: white; overflow: hidden; }

.l-layout-drophandle { position: absolute; top: 0px; left: -5px; width: 5px; cursor: col-resize; z-index: 10; height: 100%; display: none; }
.l-layout-collapse { width: 24px; background: #EAF2FE; border: 1px solid #B8D0D6; position: absolute; top: 0px; left: 4px; display: none; height: 100%; z-index: 10; }
.l-layout-collapse-over { background: #F5F9FA; }
.l-layout-collapse-toggle { position: absolute; top: 0px; right: 2px; height: 20px; width: 20px; overflow: hidden; background: url('../images/layout/togglebar.gif'); background-position: -20px -40px; cursor: pointer; }
.l-layout-collapse-toggle-over { background-position: -20px -60px; }
.l-layout-dragging-line { background: #E0E4E2; width: 4px; position: absolute; top: 0px; display: none; z-index: 9999; padding: 0; margin: 0; height: 100%; }

/* --------------
   *   accordion  *
* ------------ */
.l-accordion-panel { border-left: 1px solid #BED5F3; border-right: 1px solid #BED5F3; border-bottom: 1px solid #BED5F3; }
.l-accordion-toggle { background: url(../img/tool-sprites.gif) no-repeat scroll 0 0; cursor: pointer; float: right; height: 15px; margin: 5px 5px 5px 2px; overflow: hidden; width: 15px; }
.l-accordion-toggle-close { background-position: 0px -240px; }
.l-accordion-toggle-close-over { background-position: -15px -240px; }
.l-accordion-toggle-open { background-position: 0px -255px; }
.l-accordion-toggle-open-over { background-position: -15px -255px; }
.l-accordion-header-backup { position: relative; padding-left: 10px; color: #183152; font-weight: bold; height: 25px; line-height: 24px; background: #E5EFFE url('../images/layout/accordion-header.gif') repeat-x; overflow: hidden; cursor: pointer; }
.l-accordion-header { cursor: pointer; background: transparent url(../img/light-hd.gif) repeat-x scroll 0 -9px; color: #222222; border-bottom: 1px solid #99BBE8; line-height: 24px; padding-left: 10px; }
.l-accordion-header-over { cursor: pointer; background: transparent url(../img/light-hd.gif) repeat-x scroll 0 -9px; color: #222222; border-bottom: 1px solid #99BBE8; line-height: 24px; padding-left: 10px; }
.l-accordion-content-backup { position: relative; overflow: auto; background: white url('../images/layout/accordion-content.gif') repeat-x; }
.l-accordion-content { position: relative; overflow: auto; background: white; border-bottom: 1px solid #99BBE8; }
