<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\" />
    <!-- 输出到什么目录-->
    <param name="AppendToFile" value="true" />
    <!-- 是否覆写到文件中-->

    <param name="StaticLogFileName" value="false" />
    <!-- 是否使用静态文件名-->
    <param name="DatePattern" value="yyyyMMdd&quot;.html&quot;" />
    <!-- 日志文件名-->
    <param name="RollingStyle" value="Date" />
  <!--最小锁定模型以允许多个进程可以写入同一个文件-->
            <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=green&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日志标志：%c &lt;BR&gt; %n日志信息：%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="INFO" />
    </filter>
  </appender>


  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\" />
    <param name="AppendToFile" value="true" />

    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd.error&quot;.html&quot;" />    
    <param name="RollingStyle" value="Date" />
  <!--最小锁定模型以允许多个进程可以写入同一个文件-->
            <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p &lt;BR&gt;%n日志标志：%c &lt;BR&gt; %n异常信息：%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  <appender-ref ref="ErrorFileAppender"/>
  </root>
</log4net>
