@using teaCRM.Common
@model dynamic

@{
    var pluginName = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string host = HttpContext.Current.Request.Url.ToString();
   host= StringHelper.SearchString(host, "http://", "/");
var url="http://"+host+"/Plugins/Customer/Home/Index";
    //var pluginUrl = HttpHelper.Get(url);
   
}
}

@section seo {
    <title>客户模块_应用商店_teaCRM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  
}
@section head {
    <script>
        $(function () {
            $.post("@url", function (data) {
                //alert(data);
                $("#plugin").html(data);
            });

        });
 
    
</script>
}

<div id="plugin"  style="margin-top: 72px;">
   @*<iframe id="pluginFrame" name="pluginFrame" src="http://192.168.1.112:88/Plugins/Customer/Home/Index" style="min-height: 671px;" width="100%" frameborder="0" scrolling="no"></iframe>*@
    @* @url*@
@*    @host*@
@*   @Html.Partial("Plugin","Show")*@
@*   @pluginUrl*@
    <h1>页面正在加载中。。。</h1>

</div>