@model dynamic
@{  //======================================================
    //var rootPath = "/Plugins/Customer";//发布之后改成这个
    var rootPath = "";//调试路径
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>teaCRM</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <link href="@rootPath/Themes/default/min/crm.head.css" rel="stylesheet" type="text/css" />
      
        <script type="text/javascript">
            //___ 全局变量 ___//
            var page = 1;
            //var controller = "";
            //var action = "";
            //var arg = "";
            //var market_host = "";
            //var static_host = "";
            //var call_host = "";
            //var crm_host = "";
            //var talk_host = "";
        </script>

        <script type="text/javascript" src="@rootPath/Themes/default/min/jquery.js"></script>
        <script type="text/javascript" src="@rootPath/Themes/default/js/artDialog/jquery.artDialog.source.js"></script>
        <script type="text/javascript" src="@rootPath/Themes/default/js/artDialog/plugins/iframeTools.source.js"></script>
        <script type="text/javascript" src="@rootPath/Themes/default/js/My97DatePicker/WdatePicker.js"></script>
        @*
        <script type="text/javascript">
            setInterval(function() {
                $.get('?controller=global&action=sessionlife', { arg: arg });
            }, 300000);
        </script>
        *@
        <!-- 客户列表需要导入的js、css -->
        <link href="@rootPath/Themes/default/js/ligerui/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
        <link href="@rootPath/Themes/default/js/ligerui/lib/ligerUI/skins/Silvery/css/grid.css" rel="stylesheet" type="text/css" />
        <script src="@rootPath/Themes/default/js/ligerui/lib/ligerUI/js/core/base.js" type="text/javascript"></script> 
        <script src="@rootPath/Themes/default/js/ligerui/lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script>
        <script src="@rootPath/Themes/default/js/ligerui/lib/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>
        <script src="@rootPath/Themes/default/js/ligerui/lib/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
        <script src="@rootPath/Themes/default/js/ligerui/lib/ligerUI/js/plugins/ligerToolBar.js" type="text/javascript"></script>
        
        
    <script src="@rootPath/Themes/default/js/ligerui/lib/ligerUI/js/plugins/ligerTree.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            //$("#filter_tree").ligerTree({ checkbox: false });
            $("#filter_tree").ligerTree({ url: '/Plugins/Customer/Home/GetTreeData', ajaxType: 'get', checkbox: false });
            $(document).ready(function() {
                $("#filter_tree").css("width","200px");
            });
        });
    </script>
        
        <script src="@rootPath/Themes/default/js/customer.js" type="text/javascript"></script>	<script type="text/javascript" src="@rootPath/Themes/default/js/json2.js"></script>
        <link href="@rootPath/Themes/default/css/timeline.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="@rootPath/Themes/default/js/calendar/calendar.css"/>
        <script src="@rootPath/Themes/default/js/calendar/calendar.js" type="text/javascript"></script>
        <script  src="@rootPath/Themes/default/js/calendar/calendar-setup.js" type="text/javascript"></script>
        <script src="@rootPath/Themes/default/js/calendar/calendar-zh.js" type="text/javascript" ></script>
        <script type="text/javascript">
            function toolbar_merger_customer() {
                cust_ids = getGridCheckedData();
                var ownerlimt = 1; //是否禁止合并其他所有人 1为开启 0为关闭
                var custNum = cust_ids.split(',').length;
                if (custNum != 2) {
                    box.alert('每次只能选择2个客户');
                    return false;
                }
                $.dialog({
                    id: 'mergecustomer',
                    title: '合并客户',
                    lock: true,
                    button: [
                        {
                            name: '合并',
                            callback: function() {
                                var mergedata = $("#mergecustform").serialize();
                                if (!mergedata) return true;
                                $.ajax({
                                    type: "POST",
                                    url: "?controller=customer&action=do_merge_customer&type=assign&arg=" + arg,
                                    data: mergedata,
                                    dataType: "json",
                                    success: function(res) {
                                        if (res.status == 'success') {
                                            box.tip(res.msg, 'success');
                                            //页面刷新
                                            refresh_gird_list();
                                            art.dialog.list['mergecustomer'].close();
                                        } else {
                                            box.tip(res.msg, 'error');
                                        }
                                    }
                                });
                                return false;
                            },
                            focus: true
                        },
                        {
                            name: '取消'
                        }
                    ]
                });
                $.ajax({
                    type: 'post',
                    url: '?controller=customer&action=merge_customer&arg=' + arg,
                    data: { cust_ids: cust_ids, ownerlimt: ownerlimt },
                    success: function(data) {
                        $.dialog.list['mergecustomer'].content(data);
                    }
                });
            }

            //扩展currency类型的格式化函数
            $.ligerDefaults.Grid.formatters['cus_name_type'] = function (num, column) {
                //var row = customer_grid.getRow(1);
                //alert(row.cus_no);
                //alert(column.columnindex);

                return "<a href='javascript:(0);'onclick=\"showTimeline('dasd')\" title='时间轴'><img src='@rootPath/Themes/default/img/time_line.png' style='padding-right:10px;padding-left:10px;'/></a>" + "<a href='javascript:void(0);' onclick=\"view_show('2','客户名称');\">" + "<span title=''>" + num + "</span>" + "</a>";
            };
          

            var grid_columns = [{ "display": "客户名称", "name": "cus_name", "frozen": true, "width": 120, "align": "left", type: "cus_name_type" }, { "display": "助记简称", "name": "cus_sname", "frozen": true, "width": 120, "isSort": false }, { "display": "办公电话/手机", "name": "cus_tel", "isSort": true, "width": 110 }, { "display": "省市地址", "name": "cus_city", "isSort": true, "width": 140 }, { "display": "详细地址", "name": "cus_address", "isSort": false, "width": 120 }, { "display": "备注", "name": "cus_note", "isSort": false, "width": 100 }, { "display": "主联系人", "name": "con_id", "isSort": true, "width": 80 }, { "display": "负责人", "name": "user_id", "isSort": true, "width": 80 }, { "display": "共享成员", "name": "con_team", "isSort": true, "width": 80 }, { "display": "是否公海客户", "name": "con_is_pub", "isSort": true, "width": 80 }, { "display": "是否在回收站", "name": "con_back", "isSort": true, "width": 80}];
	  
            var customer_grid = null;

            var url = "/Home/GetPagerData";
            //var url = '?controller=' + controller + '&action=assigned_list&arg=' + arg;
            var myData = null;
            $(function() {
                menuAddFocus('menu-customer-assigned');
                customer_grid = $("#customer_grid").ligerGrid({
                    columns: grid_columns,
                    url: url,
                    pageSize: $.cookie('ligerPageSize') || 10,
                    parms: [
                        { name: 'search_owner', value: $.cookie('search_owner') ? $.cookie('search_owner') : '' }, //所有人分类
                        { name: 'tag_ids', value: '' },
                        { name: 'searchs', value: '[["text","name",""]]' }
                    ],
                    sortName: '',
                    sortOrder: '',
                    checkbox: true,
                    allowHideColumn: false,
                    selectRowButtonOnly: true, //只能勾选复选框
                    toolbar: {
                        items: [
                            { text: '添加', click: toolbar_abandon_customer, img: '@rootPath/Themes/default/img/xxadd.png' },
                            { text: '删除至回收站', click: toolbar_retrieval0, img: '@rootPath/Themes/default/img/xxdel.png' },
                            { text: '放入客户池', click: toolbar_transfer_customer, img: '@rootPath/Themes/default/img/xxkehuchi.png' },
                            { text: '转移客户', click: toolbar_transact_customer, img: '@rootPath/Themes/default/img/xxzhuanyi.png' },
                            { text: '添加标签', click: toolbar_add_tag, img: '@rootPath/Themes/default/img/xxbiaoqian.png' },
                            { text: '导入客户', click: toolbar_delete_tag, img: '@rootPath/Themes/default/img/xxdaoru.png' },
                            { text: '导出客户', click: toolbar_add_contact_record, img: '@rootPath/Themes/default/img/xxdaochu.png' },
                            { text: '发送短信', click: toolbar_send_sms, img: '@rootPath/Themes/default/img/xxsms.png' },
                            { text: '发送邮件', click: toolbar_send_mail, img: '@rootPath/Themes/default/img/xxemail.png' },
                            { text: '合并重复', click: toolbar_merger_customer, img: '@rootPath/Themes/default/img/xxchongfu.png' },
                            { text: '属性设置', click: field_show_set, img: '@rootPath/Themes/default/img/xxshuxing.png' }
                        ]
                    },
                    onAfterShowData: function(data) {
                        init_all_select(data.Total, 2);
                    },
                    onCheckAllRow: function(checked) {
                        display_all_select(checked);
                    },
                    onCheckRow: function(checked) {
                        if (!checked) {
                            display_all_select(checked);
                        }
                    },
                    //获取数据
                    onSuccess: function(data) {
                        myData = data;
                        c = new customers();
                        for (var cust in myData['Rows']) {
                            c.addCustomer(myData['Rows'][cust]['cust_id']);
                        }
                    }
                });
                $("#pageloading").hide();

                // 快速搜索功能
                $("#searchbtn").click(function() {
                    // customer.js里
                    grid_search('first', 1, '');
                });
                //合并重复
                $('#searchbtns').click(function() {
                    var orders = $("#search_f").val();
                    grid_search('first', 2, orders);
                });
            });

//图片隐藏和显示
            function imgShow(obj) {
                $(obj).children('a').children('img').show();
            }

            function imgHide(obj) {
                $(obj).children('a').children('img').hide();
            }

//发送短信和邮件
            function sendMsg(cust_id) {
                send_sms(cust_id);
            }

            function sendMail(cust_id) {
                send_mail(cust_id);
            }


           


        </script>
  
    </head>
    <body class="wrap-side-bg body-sk">
        <div class="layout-wrap clearfix">
            <div class="layout-left">
                <div id="nav-side" class="nav-side">
                    <div class="ns-item">
		   
                        <div class="c_left">
                            <ul id="22">
                                <li id="221" onclick="customer_add()"><span class="om0"><b class=""></b></span><a class="oz0">添加</a></li>
                                <li id="33"><span class="om0"><b class=""></b></span><a class="oz0">导入</a></li>
                            </ul>
                        </div>
                        <ul id="filter_tree">
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function() {
                        navAddFocus('nav-customer');
                    });
                    $("#nav-side .tag li a").click(function() {
                        $(this).addClass('tag_bg');
                    });
                </script>		
            </div>
				
            <div class="layout-right">
                <div class="layout-content">
                    <div class="filter-bar">
                        <div class="filter-bar-bd">
						
                            <div class="row hidden leftwidth">
                                <b class="label">您已选择：</b>
                                <ul id="selected_tag" class="c-tag-list">
                                    <li>
                                        <div class="max-w">
                                            <a class="tag" level="ct-level-1" tag_id="92140" href="#" style="background-color: #9F9DA0;">意向客户<i></i></a>
                                            <a class="tag" level="ct-level-1" tag_id="92141" href="#" style="background-color: #9F9DA0;">最近联系客户<i></i></a>
                                            <a class="tag" level="ct-level-1" tag_id="92142" href="#" style="background-color: #9F9DA0;">到期客户<i></i></a>
                                            <a class="tag" level="ct-level-2" tag_id="92143" href="#" style="background-color: #9F9DA0;">大客户<i></i></a>
                                            <a class="tag" level="ct-level-2" tag_id="92144" href="#" style="background-color: #9F9DA0;">代理商<i></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
							
                            <div id="adv_search" class="hidden rightwidth">
                                <form id="add_search_form">
                                    <span class="row" style="display: inline-block;">
                                        <b class="label">属性：</b>
                                        <select class="select-1">
                                            <option type="text" value="name">客户名称</option>
                                            <option type="text" value="mobile">手机</option>
                                            <option type="text" value="email">邮箱</option>
                                            <option type="choose" value="province">省份</option>
                                            <option type="choose" value="city">城市</option>
                                            <option type="text" value="address">地址</option>
                                            <option type="number" value="zipcode">邮政编码</option>
                                            <option type="longtext" value="remark">备注</option>
                                            <option type="id6d" value="owner">所有人</option>
                                        </select>
                                        <input class="comm-tbox-1" type="text" value="">
                                        <a href="javascript:void(0);" class="btn-blue-1" id="searchbtn">搜索</a>
                                        <a id="add_search" href="javascript:void(0);" class="btn-blue-2" onClick=" add_search() ">添加属性</a>
                                    </span>
                                   
                                    
                                    <!--<a href="javascript:void(0);" class="filter_sele" onClick=" makeselect_show() ">筛选器</a>-->
                                    <div class="row_s" style="position: relative; padding: 0 15px 0px 85px; line-height: 24px;"></div>
                                </form>
                            </div>
							
                            <div class="clear" style="clear:both;"></div>
                            <a id="searchbtns" style="display: none;"></a>
                            <!--                            <div class="btn-bar hidden">
                                                                <a href="javascript:void(0);" onclick="customer_add()" class="btn-white-1"><b>添加客户</b></a>
                                                                <a href="javascript:void(0);" onClick="export_customer(2) " class="btn-white-1"><b>导出Excel</b></a>
                                                            </div>-->
                            <a class="btn-hidden" href="javascript:;" onClick=" filterToggle(this); " title="隐藏"></a>
                        </div>
                    </div>
                    <div class="l-loading" style="display: block" id="pageloading">
                    </div> 
				
                    <!--<div id="customer_grid" style="margin: 0; padding: 0; margin-left:170px;">-->
				
                    <!----------数据主题部分显示结果----------->
                    <div id="customer_grid" style="margin: 0; padding: 0;">
				
                    </div>
				
                    <div style="display: none;">
                    </div>
				
                    <!-- <div class="i10"></div>
                        <div class="body-tips" >-->
                    <div class="i10"></div>
                    <div class="body-tips">
                        <div class="body-tips-bd">
                            <h3>帮助：</h3>
                            <p>1. 此栏目通过岗位层级展示相应数据，如部门主管可查看部门全部客户、组长可查看小组全部客户；</p>
                            <p>2. 转移客户：可将潜在客户转回客户池或转交给其他工号跟进；</p>
                            <p>3. 时间轴：通过时间轴可查看单个客户完整的跟踪过程以及购买周期。</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
 
        <script type="text/javascript" src="@rootPath/Themes/default/js/global.js"></script>
        <script type="text/javascript" src="@rootPath/Themes/default/js/common.js"></script>

        <script type="text/ecmascript" src="@rootPath/Themes/default/js/timeline.js"></script>


        <script type="text/javascript">
            menuAddFocus('menu-dl-list');
            tbList1();

//添加搜索条件
            function add_search() {
                if (max_search()) {
                    return;
                }; //限制搜索条件上限
                var temp = '<span style="display:inline-block; margin-top:5px;">' +
                    '<b class="label"></b>' +
                    '<select class="select-1">' +
                    '' +
                    '<option type="text" value="name">客户名称</option>' +
                    '' +
                    '<option type="text" value="mobile">手机</option>' +
                    '' +
                    '<option type="text" value="email">邮箱</option>' +
                    '' +
                    '<option type="choose" value="province">省份</option>' +
                    '' +
                    '<option type="choose" value="city">城市</option>' +
                    '' +
                    '<option type="text" value="address">地址</option>' +
                    '' +
                    '<option type="number" value="zipcode">邮政编码</option>' +
                    '' +
                    '<option type="longtext" value="remark">备注</option>' +
                    '' +
                    '<option type="id6d" value="owner">所有人</option>' +
                    '' +
                    '</select>&nbsp;' +
                    '<input class="comm-tbox-1 search" type="text">' +
                    '&nbsp;&nbsp;<a href="javascript:;" onClick="remove_search(this)" style="margin-right:17px;">删除</a>' +
                    '</span>'
                $("#add_search_form div[class=row_s]").append(temp);
                $(".filter-bar-bd .btn-hidden").hide();
                $(".filter-bar-bd .btn-hidden").show();
            }

            $("#search_owner").val($.cookie('search_owner')); //读取cookie
        </script>
    </body>
</html>
<script type="text/javascript">
    FH.setDefault('{}');
    FH.init();
</script>