@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            Test
            <br/>
            <h1>@ViewBag.Test</h1>  
        </div>
    </body>
</html>