@model dynamic

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>优创CRM软件平台_打造中国办公软件第一品牌</title>
<meta name="description" content="免费CRM登录">
<meta name="keywords" content="免费CRM,优创CRM,客户管理系统">
</head>
<body>
<div> Login </div>
</body>
</html>
