@model dynamic

@{
    Layout = null;
    var rootPath = System.Configuration.ConfigurationManager.AppSettings["rootPath"].ToString();
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>企业登陆_优创CRM软件平台_打造中国办公软件第一品牌</title>
        <meta name="keywords" content="免费CRM,优创CRM,客户管理系统">
        <meta name="description" content="免费CRM登录">
        <style type="text/css">
            body {
                line-height: 1.666;
                background-color: #1370A6
            }

            body, select, input, h1, h2, h3 { font-size: 12px }

            body, input, select { font-family: verdana }

            body, h1, h2, h3, ul, li, form, p, img {
                margin: 0;
                padding: 0;
                border: 0
            }

            input {
                margin: 0;
                padding: 0
            }

            input, img { line-height: normal }

            ul, li { list-style: none }

            article, aside, footer, header, hgroup, nav, section { display: block }

            a {
                color: #fff;
                text-decoration: none
            }

            a:hover { text-decoration: underline }

            /* 行内元素 */

            .btn, .copy-item, .ico, .tab-list {
                display: inline-block;
                +
                display: inline;
                +
                zoom: 1;
                vertical-align: middle
            }

            .ico-arr {
                background-image: url(@rootPath/Themes/default/images/arr.png);
                _background-image: url(@rootPath/Themes/default/images/logo_ie6_v2.png)
            }

            .ico-arr {
                width: 16px;
                height: 24px;
                background-position: 0 0;
                _background-position: -288px 0
            }

            .ft-ext {
                position: absolute;
                top: 270px;
                right: 60px;
            }

            /* 按钮背景 */

            .btn {
                background-image: url(@rootPath/Themes/default/images/bg_v2.png);
                background-repeat: no-repeat
            }

            /* 登录方式加粗显示 */

            .ico-logo {
                height: 30px;
                background-position: 0 0;
                line-height: 30px;
                font-size: 18px;
                color: #4b4948;
                font-family:Microsoft YaHei;
                font-weight: normal;
            }

            /* 按钮样式 */

            .btn {
                border: 0;
                width: 102px;
                height: 40px
            }

            .btn-login { background-position: 0 -64px }

            .btn-login-hover { background-position: -112px -64px }

            .btn-login-active { background-position: -224px -64px }

            /* tab列表样式 */

            .tab-list {
                width: 220px;
                position: relative;
                +
                zoom: 1;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2)
            }

            .tab-list .item {
                cursor: pointer;
                position: relative;
                overflow: hidden;
                +
                zoom: 1;
                height: 77px;
                width: 220px;
                vertical-align: top
            }

            .tab-list .item .bg {
                cursor: pointer;
                width: 100%;
                height: 76px;
                background-color: #fff;
                border-bottom: 1px solid #ccc;
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                opacity: 0.4;
                filter: alpha(opacity=40);
                _filter: alpha(opacity=50)
            }

            .tab-list .item .bg-selected {
                display: none;
                position: absolute;
                z-index: 4;
                top: 0;
                left: 0;
                background-image: url(@rootPath/Themes/default/images/bgx.png);
                background-repeat: repeat-x;
                _background: #fff;
                _filter: alpha(opacity=50);
                width: 219px;
                height: 76px;
                zoom: 1
            }

            .tab-list .item .logo {
                position: absolute;
                background-color: transparent;
                cursor: pointer;
                z-index: 5;
                top: 23px;
                left: 47px;
				font-size:18px;
				font-family:'Microsoft Yahei';
				color:#596579;
            }

            .mail-163 .tab-list .item-163 .bg,
            .mail-126 .tab-list .item-126 .bg,
            .mail-yeah .tab-list .item-yeah .bg {
                opacity: 0.6;
                filter: alpha(opacity=60);
                _filter: alpha(opacity=80)
            }

            .mail-163 .tab-list .item-163 .bg-selected { display: block }

            /* tab panel */

            .tab-panel {
                width: 460px;
                height: 308px;
                border-color: #CDCDCD;
                border-width: 0;
                background-color: #fff;
                ;
                border-style: solid;
                position: relative;
                z-index: 10;
                +
                zoom: 1;
                box-shadow: 0px 1px 5px RGBA(0, 0, 0, 0.5)
            }

            .tab-panel .form { padding: 0 60px }

            .tab-panel-locat {
                position: absolute;
                z-index: 15;
                top: 28px;
                left: -15px
            }

            .tab-panel .shadow,
            .tab-list .shadow { display: none }

            /* 表单 */

            .form {
                overflow: hidden;
                +
                zoom: 1;
                color: #7A8698;
                line-height: normal;
                height: 308px
            }

            .form a { color: #217DD9 }

            .form .hd {
                width: 167px;
                height: 20px;
                background-position: 0 0;
                font-family: 'Microsoft Yahei';
                font-size: 20px;
                font-weight: normal;
                line-height: 20px;
            }

            #hdExtLink,
            #hdMobExtLink {
                position: absolute;
                top: 29px;
                right: 54px;
                padding: 0 4px;
                line-height: 21px;
                background-color: #EA4A4A;
                color: #fff;
                border-radius: 2px;
                text-decoration: none;
            }

            #hdMobExtLink { background-color: #4793e5; }

            .form .options {
                position: relative;
                +
                zoom: 1
            }

            .form .options label { margin-right: 60px }

            .form .options .help {
                line-height: 0;
                display: inline-block;
                +
                display: inline;
                +
                zoom: 1;
                vertical-align: top;
                margin-left: 4px
            }

            .form .options .ext {
                position: absolute;
                right: 0;
                top: 0;
                color: #7a8698
            }

            .form .options .ext:hover {
                text-decoration: none;
                color: #217dd9
            }

            .form .ft {
                border-top: 1px solid #C9D6DD;
                padding-top: 11px
            }

            .form .hd { margin-top: 29px; }

            .form .user,
            .form .pass { margin-top: 26px }

            .form .user { z-index: 1 }

            .form .options { margin-top: 16px }

            .form .ft { margin-top: 25px }

            .form .user .ico {
                position: absolute;
                left: 12px;
                top: 12px;
                display: none
            }

            /* 输入框 */

            .ipt-t {
                line-height: 0;
                font-size: 0;
                border-radius: 2px;
                position: relative;
                zoom: 1;
                height: 46px;
                border: 1px solid #BAC7D2;
                background-color: #ECF5FA;
                box-shadow: 0 0 2px RGBA(0, 46, 115, .25) inset;
                font-family: 'Microsoft Yahei';
                z-index: 1;
            }

            .ipt-t input {
                width: 322px;
                outline: none;
                background: none;
                border: none;
                height: 19px;
                margin: 0;
                padding: 13px 10px;
                _padding-bottom: 10px;
                font-size: 14px;
                line-height: normal;
                color: #000;
                font-weight: bold;
                margin-top;
                1px
                ;
            }

            .ipt-t label {
                position: absolute;
                left: 0;
                top: 12px;
                line-height: normal;
                font-size: 16px;
                color: #90A2BC
            }

            .ipt-t .btn-login {
                position: absolute;
                top: 3px;
                right: 3px;
                cursor: pointer;
            }

            /* 顶部 */

            header {
                position: relative;
                z-index: 11;
                height: 45px
            }

            header .bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 45px;
                background-color: #000;
                opacity: 0.5;
                filter: alpha(opacity=50);
                _filter: alpha(opacity=100);
                _background-color: #1b1b1b
            }

            header .inner {
                position: relative;
                width: 680px;
                margin: 0 auto
            }

            header h1 {
                position: absolute;
                top: 9px;
                left: 1px;
                opacity: 0.6;
                filter: alpha(opacity=60);
                _background-image: url(@rootPath/Themes/default/images/ntes_logo_ie6.png);
            }

            header h1 img { _visibility: hidden }

            header .ext {
                position: absolute;
                right: 0;
                line-height: normal;
                top: 15px;
            }

            header .link {
                margin-left: 20px;
                color: #6B8798;
                display: inline-block;
            }

            /* 主要 */

            .main {
                position: relative;
                z-index: 10
            }

            .main .inner {
                width: 680px;
                margin: 0 auto;
                position: relative;
                +
                zoom: 1
            }

            .tab {
                position: relative;
                +
                zoom: 1
            }

            .tab-panel {
                position: absolute;
                left: 220px;
                top: 0
            }

            .main h3 {
                position: absolute;
                z-index: 0;
                width: 298px;
                height: 24px;
                background-position: 0 -64px;
                top: -80px;
                left: 0;
                color: #FFFFFF;
                background-image: none;
                font-family: 微软雅黑;
                font-size: 24px;
                font-weight: normal;
                line-height: 24px;
            }

            /* 推广 */

            .expansion {
                text-align: left;
                position: absolute;
                z-index: 9;
                bottom: 46px;
                left: 0;
                width: 100%;
                height: 18px;
                color: #a0c9e0;
            }

            .expansion .inner {
                border-top: 1px solid #75b3d5;
                line-height: 17px;
                height: 17px;
                margin: 0 auto;
                position: relative;
                width: 680px;
                text-align: center;
                border-color: rgba(255, 255, 255, 0.2)
            }

            .expansion a { color: #fff; }

            .expansion a:hover { text-decoration: none }

            .expansion .tranex {
                position: relaitve;
                zoom: 1;
                opacity: 0.5;
                filter: alpha(opacity=50);
                z-index: 1;
            }

            .expansion .tranex:hover {
                opacity: 0.8;
                filter: alpha(opacity=80)
            }

            .expansion span { margin-right: 3px; }

            /*.expansion .left{position:absolute;text-align:left;left:0;top:0;line-height:17px;height:17px;z-index:2;}
.expansion .right{position:absolute;text-align:right;right:0;top:0;line-height:17px;height:17px;z-index:2;}*/

            #extText a {
                color: #fff;
                position: relaitve;
                zoom: 1;
                opacity: 0.5;
                filter: alpha(opacity=50);
                z-index: 1;
            }

            #extText a:hover,
            #extText li:hover {
                text-decoration: none;
                opacity: 0.8;
                filter: alpha(opacity=80)
            }

            #extText .ext-1 {
                position: absolute;
                text-align: left;
                left: 0;
                top: 0;
                line-height: 17px;
                height: 17px;
                z-index: 2;
            }

            #extText .ext-3 {
                position: absolute;
                text-align: right;
                right: 0;
                top: 0;
                line-height: 17px;
                height: 17px;
                z-index: 2;
            }


            .hide {
                display: none;
            }
            .show-block {
                display: block;
            }

            /* 版权 */

            .copyright {
                text-align: left;
                position: absolute;
                z-index: 9;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 45px
            }

            .copyright .bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0.4;
                filter: alpha(opacity=40)
            }

            .copyright .inner {
                padding-top: 16px;
                width: 680px;
                margin: 0 auto;
                position: relative;
            }

            .copyright, .copyright a { color: #000 }

            .copy-item {
                margin-right: 18px;
                vertical-align: top;
                opacity: 0.4;
                filter: alpha(opacity=40)
            }

            .copy-item-img {
                margin-right: 0;
                position: absolute;
                right: 0;
                top: 15px;
                opacity: 0.65;
                filter: alpha(opacity=65)
            }

            .copy-item .sptln { margin-right: 18px }

            /* 主题背景 */

            .theme {
                overflow: hidden;
                position: absolute;
                z-index: 5;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: url(@rootPath/Themes/default/images/all2.jpg) center center no-repeat;
            }

            .bd .showPlaceholder .placeholder {
                visibility: visible;
                cursor: text;
            }

            .bd .placeholder {
                font-size: 16px;
                text-indent: 12px;
                position: absolute;
                background: none;
                width: 250px;
                visibility: hidden;
            }
            /***loading***/
.loading {font-family: Microsoft Yahei;padding:20px 30px; text-align:center;width:200px; font-size:14px;word-break:break-all;}


/*自动完成样式*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }


        </style>
        <!--[if lte IE 8]>
            <style type='text/css'>
            

                /*.ipt-t label{top:15px}*/

                .tab-panel .shadow,
                .tab-list .shadow {
                    display: block;
                    font-size: 0;
                    line-height: 0;
                    position: absolute;
                    background-image: url(@rootPath/Themes/default/images/shadow_x.png);
                    background-repeat: repeat-x;
                    _background: #000;
                    _filter: alpha(opacity=20)
                }

                .tab-panel .shadow-left,
                .tab-panel .shadow-right,
                .tab-list .shadow-left {
                    position: absolute;
                    background-image: url(@rootPath/Themes/default/images/shadow_y.png);
                    background-repeat: repeat-y;
                    _background: #000;
                    _filter: alpha(opacity=20)
                }

                .tab-panel .shadow-bottom,
                .tab-panel .shadow-top,
                .tab-list .shadow-bottom,
                .tab-list .shadow-top {
                    bottom: -5px;
                    left: 0;
                    width: 220px;
                    height: 5px;
                    background-position: 0 0
                }

                .tab-list .shadow-top {
                    bottom: auto;
                    top: -3px;
                    height: 3px;
                    background-position: 0 -32px
                }

                .tab-list .shadow-left {
                    width: 4px;
                    height: 311px;
                    left: -4px;
                    bottom: -2px
                }

                .tab-panel .shadow-bottom {
                    width: 460px;
                    left: 0;
                    bottom: -5px;
                    background-position: 0 -16px
                }

                .tab-panel .shadow-top {
                    bottom: auto;
                    width: 460px;
                    top: -3px;
                    height: 3px;
                    background-position: 0 -48px
                }

                .tab-panel .shadow-left {
                    z-index: 10;
                    width: 3px;
                    height: 309px;
                    left: -3px;
                    bottom: -1px;
                    background-position: -16px 0
                }

                .tab-panel .shadow-right {
                    width: 4px;
                    height: 311px;
                    left: auto;
                    right: -4px;
                    bottom: -2px;
                    background-position: -32px 0
                }

                .ipt-wraper .ipt-c {
                    position: static;
                    visibility: visible
                }

                .ipt-wraper .ico-checkbox { display: none }

                .copy-item-img { filter: none }
            </style>
        <![endif]-->
        <!--[if IE 6]>
            <style type='text/css'>
                .main h3 {
                    line-height: normal;
                    font-size: 26px;
                    color: #fff;
                    background: none;
                    width: 400px;
                    font-family: simhei;
                    font-weight: normal
                }

                .tab-list .shadow-bottom {
                    height: 1px;
                    bottom: -1px;
                    filter: alpha(opacity=10)
                }

                .tab-list .shadow-top {
                    height: 1px;
                    top: -1px;
                    filter: alpha(opacity=10)
                }

                .tab-list .shadow-left {
                    width: 1px;
                    left: -1px;
                    height: 309px;
                    bottom: -1px;
                    filter: alpha(opacity=10)
                }

                .tab-panel .shadow-bottom {
                    width: 461px;
                    height: 1px;
                    bottom: -1px
                }

                .tab-panel .shadow-top {
                    height: 1px;
                    top: -1px
                }

                .tab-panel .shadow-left {
                    width: 1px;
                    left: -1px;
                    filter: alpha(opacity=20)
                }

                .tab-panel .shadow-right {
                    height: 310px;
                    width: 1px;
                    right: -1px;
                    height: 309px;
                    bottom: 0
                }

                .copyright, .copyright a { color: #7d7d7d }

                .copy-item { filter: none }

                .copy-item-img { filter: alpha(opacity=65) }
            </style>
        <![endif]-->
        <script src="@rootPath/Themes/default/js/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
      
        <script src="@rootPath/Themes/default/js/artDialog/jquery.artDialog.source.js" type="text/javascript"></script>
        <!--获取ip地址-->
        <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> 
       
        <!--自动完成-->
        <!--
            http://www.devbridge.com/sourcery/components/jquery-autocomplete/
            https://github.com/devbridge/jQuery-Autocomplete

            //这是生成的html
            <div class="autocomplete-suggestions">
                <div class="autocomplete-suggestion autocomplete-selected">...</div>
                <div class="autocomplete-suggestion">...</div>
                <div class="autocomplete-suggestion">...</div>
            </div>

            -->
        <!--自动完成-->
         <!--[if !IE]><!-->
        <script src="@rootPath/Themes/default/js/autoComplete/jquery.autocomplete.js" type="text/javascript"></script> 
        <!--<![endif]-->  
        
         <!--artDialog-->
        @*<script src="@rootPath/Themes/default/js/artDialog/lib/jquery-1.10.2.js"></script>*@
        <link rel="stylesheet" href="@rootPath/Themes/default/js/artDialog/css/ui-dialog.css">
        <script src="@rootPath/Themes/default/js/artDialog/dist/dialog-plus-min.js"></script>
       
       <!--公共函数-->
        <script src="@rootPath/Themes/default/js/function.js" type="text/javascript"></script>
       
        <!--本页面js-->
        <script src="@rootPath/Themes/default/js/account/login.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="page">
            <header>
                <div class="bg"></div>
                <div class="inner">
                    <h1><a href="#" target="_blank"><img src="@rootPath/Themes/default/images/ntes_logo.png" alt="网易NetEase" width="87" height="27"></a></h1>
                    <p class="ext"><a class="link" href="#" title="网站建设" target="_blank">网站建设</a> <a class="link" href="#" title="网络营销">网络营销</a> <a class="link" href="#" title="客户服务">客户服务</a> <a class="link" href="#">关于我们</a> <a class="link" href="#">手机版</a> <a class="link" href="#" title="">系统帮助</a></p>
                </div>
            </header>
            <div class="main" id="main" style="margin-top: 97.5px;">
                <div class="inner">
                    <h3 style="top: -50px;">迄今为止最本质的CRM</h3>
                    <div class="tab">
                        <div class="tab-list">
                            <ul>
                                <li id="tab163Link" class="item item-163">
                                    <div class="logo">普通账号登陆</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected" style="display: block;"></div>
                                </li>
                                <li id="tab126Link" class="item item-126 hover">
                                    <div class="logo">二维码登陆</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected"></div>
                                </li>
                                <li id="tabyeahLink" class="item item-yeah">
                                    <div class="logo">USB指令登陆</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected"></div>
                                </li>
                                <li id="tabshoujiLink" class="item item-shouji">
                                    <div class="logo">指纹识别登陆</div>
                                    <div class="bg"></div>
                                    <div class="bg-selected"></div>
                                </li>
                            </ul>
                            <span class="shadow shadow-bottom">&nbsp;</span> <span class="shadow shadow-top">&nbsp;</span> <span class="shadow shadow-left">&nbsp;</span> </div>
                        <div class="tab-panel">
                            <div class="form">
                                <h2 class="hd" id="LoginTitle">登录客户管理系统</h2>
                                <a id="hdExtLink" href="javascript:void(0);" class="hide">请输入正确的用户名密码</a>
                                <form class="bd" name="frmLogin" method="post" id="loginForm" >
                                    <!-- 帐号 -->
                                    <div class="ipt ipt-t user showPlaceholder" id="idInputLine"> <b class="ico"></b>
                                        <input type="text" id="userName" autocomplete="off">
                                        <!--<b class="domain" id="domainText">注册</b>-->
                                        @*<label for="userNameIpt" class="placeholder" id="idPlaceholder" style="display: block;">帐号或手机号</label>*@
                                    </div>
                                    <!-- 密码 -->
                                    <div class="ipt ipt-t pass showPlaceholder" id="pwdInputLine">
                                        <input type="password" name="password" id="userPassword">
                                        <button  id="btnSubmit" title="登录" class="btn btn-login" type="submit"></button>
                                        @*<label for="pwdInput" class="placeholder" id="pwdPlaceholder">密码</label>*@
                                    </div>
                                    <!-- 相关选项 -->
                                    <div class="options">
                                        <label for="rmbUser" class="ipt-wraper ipt-wraper-checked" style="margin-right: 56px;">
                                            <input id="remember" type="checkbox" checked value="记住账号"/>
                                            记住账号</label>
                                        <label for="chkSSL" class="ipt-wraper ipt-wraper-checked">
                                            <input type="checkbox" />
                                            SSL安全登录</label>
                                        <a class="ext" href="#" title="" id="forGetPassword" target="_blank" style="">忘记密码?</a> </div>
                                    <div class="ft" id="loginFootTipsVer" style="display: block;"> <span class="ft-mailver-text">移动版本：</span> <a id="ftVerSelLink" class="ft-mailver-now" href="javascript:void(0);"> <span id="ftVerSelLinkTxt">安卓版下载&nbsp;</span> </a> <a id="ftVerSelLink" class="ft-mailver-now" href="javascript:void(0);"> <span id="ftVerSelLinkTxt">IOS版下载&nbsp;</span> </a> </div>
                                    <div class="ft-ext" id="loginFootTipsRight" style="display: block;"> 
                                        <a href="/Account/PublicRegister/" tabindex="9">注册免费试用</a></div>
                                </form>
                                <b class="ico ico-arr tab-panel-locat"></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 推广 -->
            <div class="expansion">
                <div class="inner">
                    <ul id="extText">
                        <li class="ext-1"><span>·</span> <a href="#" target="_blank" style="">如何打造实用型CRM软件?</a></li>
                        <li class="ext-2"><span>·</span> <a href="#" target="_blank" style="">8月20号：CRM_beat版内测开始</a></li>
                        <li class="ext-3"><span>·</span> <a href="#" target="_blank" style="">9月23日：升级CRM中客户添加页面布局</a></li>
                    </ul>
                </div>
            </div>
            <footer class="copyright">
                <div class="bg"></div>
                <div class="inner">
                    <ul class="copy-list">
                        <li class="copy-item"><a href="http://www.ucs123.com/content/about.html" target="_blank">关于优创</a></li>
                        <li class="copy-item"><a href="http://www.ucs123.com/software/sjCRM.html" target="_blank">关于优创云CRM</a></li>
                        <li class="copy-item"><a href="http://www.terwer.com/" target="_blank">CTO官方博客</a></li>
                        <li class="copy-item"><a href="#">客户服务</a></li>
                        <li class="copy-item"><a href="#">隐私政策</a></li>
                        <li class="copy-item"><span class="sptln">|</span>优创科技版权所有 © 2013-2023</li>
                    </ul>
                </div>
            </footer>
            <!-- 背景 -->
            <div class="theme" id="theme"></div>
        </div>
    </body>
</html>