<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库类型（支持SqlServer、MySql）-->
    <add key="databaseType" value="SqlServer"/>
  </appSettings>
  <!--数据库连接字符串-->
  <connectionStrings>
    <!--Sql Server-->
    <add providerName="System.Data.SqlClient" name="teaCRMSqlServer" connectionString="Data Source=.;Initial Catalog=teaCRM;User ID=sa;Password=105036"/>
    <!--MySql-->
    <add providerName="MySql.Data.MySqlClient" name="teaCRMMySql" connectionString="Host=localhost;UserName=root;Password=;Database=terwer;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <!--MySql Factorytyt-->
       <add name="MySql Data Provider"
           invariant="MySql.Data.MySqlClient"
           description="ddd"
           type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    </DbProviderFactories>
  </system.data>
</configuration>