<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ELinq" version="0.6.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.8.3" targetFramework="net40" />
  <package id="NLite" version="0.9.5.7" targetFramework="net40" />
  <package id="System.Linq.Dynamic" version="1.0.2" targetFramework="net40" />
</packages>