<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>/Plugins/Customer</directory>
  <name>友情链接</name>
  <author>terwer</author>
  <version>V1.0</version>
  <description>只适合V1.0.0以上版本</description>
  <isload>0</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE dt_link(
	      [id] COUNTER PRIMARY KEY,
	      [title] STRING(255),
	      [user_name] STRING(50),
	      [user_tel] STRING(20),
	      [email] STRING(50),
	      [site_url] STRING(255),
	      [img_url] STRING(255),
	      [is_image] INTEGER NOT NULL DEFAULT 0,
	      [sort_id] INTEGER NOT NULL DEFAULT 99,
	      [is_red] INTEGER NOT NULL DEFAULT 0,
	      [is_lock] INTEGER NOT NULL,
	      [add_time] DATETIME NULL DEFAULT NOW()
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table dt_link</sql>
  </uninstall>
  <urls>
    <rewrite name="link" path="link.html" pattern="link.html$" page="link.aspx" querystring="" templet="link.html" channel="0" type="" inherit="DTcms.Web.Plugin.Link.link" />
  </urls>
</plugin>